---
layout: default
title: Test
permalink: /test/
---
<style>
.modal .modal-header {
  border-radius: 0 0 2px 2px;
  background-color: #fafafa;
  padding: 0px 6px;
  height: 30px;
  width: 100%;
  text-align: right;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
</style>
<div class="row">
 {% for game in site.data.advant-play %}
 <div class="col column-content s6 m6">
 <div class="blog-card blog-card-blog sticky-action">
   <div class="blog-card-image">
    <a href="#{{ game.id }}" class="waves-effect waves-block modal-trigger waves-light"> 
     <img class="img lazy" src="{{ "assets/loader.gif" | relative_url }}" data-src="../assets/img/advant-play/{{ game.img }}" alt="{{ game.title }}"> 
    </a>
   <div class="ripple-cont"></div>
   </div>
   <div class="blog-table">
     <h6 class="blog-category blog-text-success">{{ game.provider }}</h6>
     <h4 class="blog-card-caption">
      <a href="#{{ game.id }}" class="modal-trigger">{{ game.title }}</a>
     </h4>
   </div>
 </div>
 </div>
 {% else %}
  <p>Tidak ada data.</p>
 {% endfor %}
</div>

  <!-- Modal Trigger -->
  <a class="hide waves-effect waves-light btn modal-trigger" href="#{{ game.id }}">Modal</a>

{% for game in site.data.advant-play %}
  <!-- Modal Structure -->
  <div id="{{ game.id }}" class="modal modal-fixed-footer">
   <div class="modal-header black">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat white-text">Tutup</a>
   </div>
    <div class="modal-content">
     
      <iframe 
 src="{{ game.permalink }}" 
 width="100%" 
 height="670px" 
 frameborder="0" 
 allow="autoplay; encrypted-media" 
 donotallowfullscreen>
 <p>Your browser does not support iframes.</p>
      </iframe>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Tutup</a>
    </div>
  </div>
{% endfor %}
