---
layout: default
title: Pocket Games Soft
permalink: /pgsoft/
active: pgsoft
---

<div class="row">
 <div class="search-box s12">
  <nav class="white">        
    <div class="nav-wrapper">
        <div class="input-field">
          <input style="white-text" type="search" placeholder="Cari game di PGSOFT">
          <label class="label-icon black-text" for="search"><i class="material-icons" style="color: black !important;">search</i></label>
          <i class="material-icons">close</i>
        </div>
    </div>
  </nav>         
 </div> 
<div class="col s12 transparent hide" style="margin-bottom:0px;">
 {% if page.active == "pgsoft" %}
 <div class="search-box">
  <input type="text" style="border: black solid 2px;" placeholder="Cari game di PGSOFT"/>
 </div>
 {% endif %}
</div>
 {% for game in site.data.pg_soft %}
 <div class="col column-content s6 m6 center-align image-box" data-name="{{ game.key }}">
  <div class="card sticky-action">
    <div class="card-image waves-effect waves-block waves-light">
      <a href="../{{ game.url }}">
       <img class="lazy responsive-img" src="../assets/loader.gif" data-src="../assets/img/pgsoft/{{ game.img }}" alt="{{ game.title }}">
      </a>
    </div>
    <div class="card-action">
     <small class="truncate">{{ game.title }}</small>
    </div>
  </div>
 </div>
 {% else %}
  <p>Tidak ada data.</p>
 {% endfor %}
</div>
