
    <div class="row card-panel">
     <span class="card-title black-text">
      PRAGMATIC PLAY
     </span><hr/>
     <a href="./pragmatic-play" class="waves-effect">
      <div class="col s6" style="padding:2px !important;">
        <img class="lazy responsive-img" src="./assets/loading.gif" data-src="./assets/feature/sweet-bonanza.jpeg">
      </div>
      <div class="col s6" style="padding:2px !important;">
        <img class="lazy responsive-img"  src="./assets/loading.gif" data-src="./assets/feature/wwg.jpeg">
      </div>      
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img" src="./assets/loading.gif" data-src="./assets/feature/kakek.jpeg">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img"  src="./assets/loading.gif" data-src="./assets/feature/starlight-princess.jpeg">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img" src="./assets/loading.gif" data-src="./assets/feature/gatot-kaca.jpeg">
      </div>
      </a>
      <a href="./pragmatic-play" class="waves-effect waves-teal btn-flat black-text right">Lihat Semua <i class="material-icons right">arrow_forward</i></a>
    </div>

    <div class="row card-panel">
     <span class="card-title black-text">
      PG SOFT
     </span><hr/>
     <a href="./pgsoft" class="waves-effect">
      <div class="col s6" style="padding:2px !important;">
        <img class="responsive-img"  src="./assets/feature/mahjong-ways2.jpeg">
      </div>
      <div class="col s6" style="padding:2px !important;">
        <img class="responsive-img" src="./assets/feature/wild-bandito.jpeg">
      </div>      
      <div class="col s4" style="padding:2px !important;">
       <img class="responsive-img" src="./assets/feature/medusa.jpeg">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="responsive-img" src="./assets/feature/lucky-neko.jpeg">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="responsive-img" src="./assets/feature/candy-burst.jpeg">
      </div>
     </a>
      <a href="./pgsoft" class="waves-effect waves-teal btn-flat black-text right">Lihat Semua <i class="material-icons right">arrow_forward</i></a>
    </div>

   <div class="row card-panel">
     <span class="card-title black-text">
      HABANERO
     </span><hr/>
     <a href="./habanero" class="waves-effect">
      <div class="col s6" style="padding:2px !important;">
        <img class="responsive-img" src="./assets/feature/koi-gate.jpeg">
      </div>
      <div class="col s6" style="padding:2px !important;">
        <img class="responsive-img" src="./assets/feature/london-hunter.jpeg">
      </div>     
      <div class="col s4" style="padding:2px !important;">
       <img class="responsive-img" src="./assets/feature/fire-rooster.jpeg">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="responsive-img" src="./assets/feature/egyptian-dreams.jpeg">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="responsive-img" src="./assets/feature/candy-tower.jpeg">
      </div>
      </a>
      <a href="./habanero" class="waves-effect waves-teal btn-flat black-text right">Lihat Semua <i class="material-icons right">arrow_forward</i></a>
    </div>

    <div class="row card-panel">
     <span class="card-title black-text">
      MICROGAMING
     </span><hr/>
     <a href="./microgaming" class="waves-effect">
      <div class="col s6" style="padding:2px !important;">
        <img class="responsive-img" src="./assets/feature/arthur-book.jpeg">
      </div>
      <div class="col s6" style="padding:2px !important;">
        <img class="responsive-img"  src="./assets/feature/goldaur.jpeg">
      </div>      
      <div class="col s4" style="padding:2px !important;">
       <img class="responsive-img"  src="./assets/feature/link-zeus.jpeg">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="responsive-img"  src="./assets/feature/alexandria-queen.jpeg">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="responsive-img"  src="./assets/feature/atlantis-rising.jpeg">
      </div>
      </a>
      <a href="./microgaming" class="waves-effect waves-teal btn-flat black-text right">Lihat Semua <i class="material-icons right">arrow_forward</i></a>
    </div>

    <div class="row card-panel">
     <span class="card-title black-text">
      YGGDRASIL
     </span><hr/>
     <a href="./yggdrasil" class="waves-effect">
      <div class="col s6" style="padding:2px !important;">
        <img class="responsive-img" src="./assets/feature/beauty-beast.jpeg">
      </div>
      <div class="col s6" style="padding:2px !important;">
        <img class="responsive-img"  src="./assets/feature/vikings-berzerk.jpeg">
      </div>      
      <div class="col s4" style="padding:2px !important;">
       <img class="responsive-img"  src="./assets/feature/jungle-books.jpeg">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="responsive-img"  src="./assets/feature/holmes.jpeg">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="responsive-img"  src="./assets/feature/double-dragons.jpeg">
      </div>
      </a>
      <a href="./yggdrasil" class="waves-effect waves-teal btn-flat black-text right">Lihat Semua <i class="material-icons right">arrow_forward</i></a>
    </div>

    <div class="row card-panel">
     <span class="card-title black-text">
      MEGAWAYS
     </span><hr/>
     <a href="./megaways" class="waves-effect">
      <div class="col s6" style="padding:2px !important;">
        <img class="responsive-img"  src="./assets/feature/mammoth.webp">
      </div>
      <div class="col s6" style="padding:2px !important;">
        <img class="responsive-img"  src="./assets/feature/thor-power.webp">
      </div>      
      <div class="col s4" style="padding:2px !important;">
       <img class="responsive-img"  src="./assets/feature/rise-samurai.webp">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="responsive-img"  src="./assets/feature/aztec-king.webp">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="responsive-img"  src="./assets/feature/spin-score.webp">
      </div>
      </a>
      <a href="./megaways" class="waves-effect waves-teal btn-flat black-text right">Lihat Semua <i class="material-icons right">arrow_forward</i></a>
    </div>

    <div class="row card-panel">
     <span class="card-title black-text">
      WILD STREAK GAMING
     </span><hr/>
     <a href="./wild-streak-gaming" class="waves-effect">
      <div class="col s6" style="padding:2px !important;">
        <img class="responsive-img"  src="./assets/feature/amazing-money-machine.jpeg">
      </div>
      <div class="col s6" style="padding:2px !important;">
        <img class="responsive-img"  src="./assets/feature/lucky-lightning.jpeg">
      </div>      
      <div class="col s4" style="padding:2px !important;">
       <img class="responsive-img"  src="./assets/feature/queenie.jpeg">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="responsive-img"  src="./assets/feature/gold-party.png">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="responsive-img"  src="./assets/feature/firebird-spirit.jpeg">
      </div>
      </a>
      <a href="./wild-streak-gaming" class="waves-effect waves-teal btn-flat black-text right">Lihat Semua <i class="material-icons right">arrow_forward</i></a>
    </div>

    <div class="row card-panel">
     <span class="card-title black-text">
      SLOT MANIA
     </span><hr/>
     <a href="./slotmania" class="waves-effect right">
      <div class="col s6" style="padding:2px !important;">
        <img class="responsive-img"  src="./assets/images/pp/slotmania-olympus.webp">
      </div>      
      <div class="col s6" style="padding:2px !important;">
        <img class="responsive-img"  src="./assets/images/pp/slotmania-princess.webp">
      </div>      
      <div class="col s6" style="padding:2px !important;">
       <img class="responsive-img"  src="./assets/images/pp/slotmania-wwg.webp">
      </div>
      <div class="col s6" style="padding:2px !important;">
       <img class="responsive-img"  src="./assets/images/pp/slotmania-sweet.webp">
      </div>
      </a>
     <a href="./slotmania" class="waves-effect waves-teal btn-flat black-text right">Lihat Semua <i class="material-icons right">arrow_forward</i></a>
    </div>

    <div class="row card-panel">
     <span class="card-title black-text">
      REEL KINGDOM
     </span><hr/>
     <a href="./reel-kingdom" class="waves-effect">
      <div class="col s6" style="padding:2px !important;">
        <img class="responsive-img" src="./assets/feature/floating-dragon.jpeg">
      </div>      
      <div class="col s6" style="padding:2px !important;">
        <img class="responsive-img" src="./assets/feature/adventure-spirit.jpeg">
      </div>      
      <div class="col s6" style="padding:2px !important;">
       <img class="responsive-img" src="./assets/feature/snakes-ladders.jpeg">
      </div>
      <div class="col s6" style="padding:2px !important;">
       <img class="responsive-img" src="./assets/feature/bigger-bass-bonanza.jpeg">
      </div>
      </a>
     <a href="./reel-kingdom" class="waves-effect waves-teal btn-flat black-text right">Lihat Semua <i class="material-icons right">arrow_forward</i></a>
    </div>
