    <div class="row card-panel">
     <span class="card-title black-text">
      PGSOFT
     </span><hr/>
     <a href="{{ "pgsoft" | relative_url }}" class="waves-effect">
      <div class="col s6" style="padding:2px !important;">
        <img class="lazy responsive-img"  src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/medusa.webp" | relative_url }}">
      </div>
      <div class="col s6" style="padding:2px !important;">
        <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/wild-bandito.jpeg" | relative_url }}">
      </div>      
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/img/pgsoft/mahjong-ways2.webp" | relative_url }}">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/img/pgsoft/dragon-hatch.webp" | relative_url }}">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/img/pgsoft/jurassic-kingdom.webp" | relative_url }}">
      </div>
     </a>
      <a href="{{ "pgsoft" | relative_url }}" class="waves-effect waves-yellow btn-flat black-text right">Lihat Semua <i class="material-icons right">arrow_forward</i></a>
    </div>

    <div class="row card-panel">
     <span class="card-title black-text">
      PRAGMATIC PLAY
     </span><hr/>
     <a href="{{ "pragmatic-play" | relative_url }}" class="waves-effect">
      <div class="col s6" style="padding:2px !important;">
        <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/sweet-bonanza.jpeg" | relative_url }}">
      </div>
      <div class="col s6" style="padding:2px !important;">
        <img class="lazy responsive-img"  src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/wwg.jpeg" | relative_url }}">
      </div>      
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/kakek.jpeg" | relative_url }}">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img"  src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/starlight-princess.jpeg" | relative_url }}">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/gatot-kaca.jpeg" | relative_url }}">
      </div>
      </a>
      <a href="{{ "pragmatic-play" | relative_url }}" class="waves-effect waves-yellow btn-flat black-text right">Lihat Semua <i class="material-icons right">arrow_forward</i></a>
    </div>

   <div class="row card-panel">
     <span class="card-title black-text">
      HABANERO
     </span><hr/>
     <a href="{{ "./habanero" | relative_url }}" class="waves-effect">
      <div class="col s6" style="padding:2px !important;">
        <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/koi-gate.jpeg" | relative_url }}">
      </div>
      <div class="col s6" style="padding:2px !important;">
        <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/london-hunter.jpeg" | relative_url }}">
      </div>     
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/fire-rooster.jpeg" | relative_url }}">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/egyptian-dreams.jpeg" | relative_url }}">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/candy-tower.jpeg" | relative_url }}">
      </div>
      </a>
      <a href="{{ "habanero" | relative_url }}" class="waves-effect waves-yellow btn-flat black-text right">Lihat Semua <i class="material-icons right">arrow_forward</i></a>
    </div>

    <div class="row card-panel">
     <span class="card-title black-text">
      MICROGAMING
     </span><hr/>
     <a href="{{ "microgaming" | relative_url }}" class="waves-effect">
      <div class="col s6" style="padding:2px !important;">
        <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/arthur-book.jpeg" | relative_url }}">
      </div>
      <div class="col s6" style="padding:2px !important;">
        <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/goldaur.jpeg" | relative_url }}">
      </div>      
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/link-zeus.jpeg" | relative_url }}">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/alexandria-queen.jpeg" | relative_url }}">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/atlantis-rising.jpeg" | relative_url }}">
      </div>
      </a>
      <a href="{{ "microgaming" | relative_url }}" class="waves-effect waves-yellow btn-flat black-text right">Lihat Semua <i class="material-icons right">arrow_forward</i></a>
    </div>

    <div class="row card-panel">
     <span class="card-title black-text">
      YGGDRASIL
     </span><hr/>
     <a href="{{ "yggdrasil" | relative_url }}" class="waves-effect">
      <div class="col s6" style="padding:2px !important;">
        <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/beauty-beast.jpeg" | relative_url }}">
      </div>
      <div class="col s6" style="padding:2px !important;">
        <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/vikings-berzerk.jpeg" | relative_url }}">
      </div>      
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/jungle-books.jpeg" | relative_url }}">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/holmes.jpeg" | relative_url }}">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/double-dragons.jpeg" | relative_url }}">
      </div>
      </a>
      <a href="{{ "yggdrasil" | relative_url }}" class="waves-effect waves-yellow btn-flat black-text right">Lihat Semua <i class="material-icons right">arrow_forward</i></a>
    </div>

    <div class="row card-panel">
     <span class="card-title black-text">
      SPADEGAMING
     </span><hr/>
     <a href="{{ "spadegaming" | relative_url }}" class="waves-effect">
      <div class="col s6" style="padding:2px !important;">
        <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/sweet-bakery.png" | relative_url }}">
      </div>
      <div class="col s6" style="padding:2px !important;">
        <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/mermaid.png" | relative_url }}">
      </div>      
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="https://as-saadah.github.io/games/assets/img/spadegaming/king-pharaoh.webp">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "assets/loading.gif" | relative_url }}" data-src="{{ "/assets/img/spadegaming/brothers-kingdom.webp" | relative_url }}">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "assets/loading.gif" | relative_url }}" data-src="{{ "/assets/img/spadegaming/princess-wang.webp" | relative_url }}">
      </div>
      </a>
      <a href="{{ "spadegaming" | relative_url }}" class="waves-effect waves-yellow btn-flat black-text right">Lihat Semua <i class="material-icons right">arrow_forward</i></a>
    </div>

    <div class="row card-panel">
     <span class="card-title black-text">
      NETENT
     </span><hr/>
     <a href="{{ "netent" | relative_url }}" class="waves-effect">
      <div class="col s6" style="padding:2px !important;">
        <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/lost-relics.jpeg" | relative_url }}">
      </div>
      <div class="col s6" style="padding:2px !important;">
        <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/steam-tower.jpeg" | relative_url }}">
      </div>      
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/img/netent/secrets-of-atlantis.webp" | relative_url }}">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/img/netent/excalibur.webp" | relative_url }}">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/img/netent/blood-suckers.webp" | relative_url }}">
      </div>
      </a>
      <a href="{{ "netent" | relative_url }}" class="waves-effect waves-yellow btn-flat black-text right">Lihat Semua <i class="material-icons right">arrow_forward</i></a>
    </div>

    <div class="row card-panel">
     <span class="card-title black-text">
      ISOFTBET
     </span><hr/>
     <a href="{{ "isoftbet" | relative_url }}" class="waves-effect">
      <div class="col s6" style="padding:2px !important;">
        <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/bounty-belles.jpg" | relative_url }}">
      </div>
      <div class="col s6" style="padding:2px !important;">
        <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/tyrant-king-megaways.jpg" | relative_url }}">
      </div>      
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/img/isoftbet/alice-adventure.webp" | relative_url }}">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/img/isoftbet/egyptian-king.webp" | relative_url }}">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/img/isoftbet/night-queen.webp" | relative_url }}">
      </div>
      </a>
      <a href="{{ "isoftbet" | relative_url }}" class="waves-effect waves-yellow btn-flat black-text right">Lihat Semua <i class="material-icons right">arrow_forward</i></a>
    </div>

    <div class="row card-panel">
     <span class="card-title black-text">
      MEGAWAYS
     </span><hr/>
     <a href="{{ "megaways" | relative_url }}" class="waves-effect">
      <div class="col s6" style="padding:2px !important;">
        <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/mammoth.webp" | relative_url }}">
      </div>
      <div class="col s6" style="padding:2px !important;">
        <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/thor-power.webp" | relative_url }}">
      </div>      
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/rise-samurai.webp" | relative_url }}">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/aztec-king.webp" | relative_url }}">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/spin-score.webp" | relative_url }}">
      </div>
      </a>
      <a href="{{ "megaways" | relative_url }}" class="waves-effect waves-yellow btn-flat black-text right">Lihat Semua <i class="material-icons right">arrow_forward</i></a>
    </div>

    <div class="row card-panel">
     <span class="card-title black-text">
      WILD STREAK GAMING
     </span><hr/>
     <a href="{{ "/wild-streak-gaming" | relative_url }}" class="waves-effect">
      <div class="col s6" style="padding:2px !important;">
        <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/amazing-money-machine.jpeg" | relative_url }}">
      </div>
      <div class="col s6" style="padding:2px !important;">
        <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/lucky-lightning.jpeg" | relative_url }}">
      </div>      
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/queenie.jpeg" | relative_url }}">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/gold-party.png" | relative_url }}">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/firebird-spirit.jpeg" | relative_url }}">
      </div>
      </a>
      <a href="{{ "wild-streak-gaming" | relative_url }}" class="waves-effect waves-yellow btn-flat black-text right">Lihat Semua <i class="material-icons right">arrow_forward</i></a>
    </div>

    <div class="row card-panel">
     <span class="card-title black-text">
      REEL KINGDOM
     </span><hr/>
     <a href="{{ "reel-kingdom" | relative_url }}" class="waves-effect">
      <div class="col s6" style="padding:2px !important;">
        <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/lucky-grace.webp" | relative_url }}">
      </div>      
      <div class="col s6" style="padding:2px !important;">
        <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/floating-dragon.webp" | relative_url }}">
      </div>      
      <div class="col s4" style="padding:2px !important;">
        <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/adventure-spirit.jpeg" | relative_url }}">
      </div>      
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/snakes-ladders.jpeg" | relative_url }}">
      </div>
      <div class="col s4" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/bigger-bass-bonanza.jpeg" | relative_url }}">
      </div>
      </a>
     <a href="{{ "/reel-kingdom" | relative_url }}" class="waves-effect waves-yellow btn-flat black-text right">Lihat Semua <i class="material-icons right">arrow_forward</i></a>
    </div>

    <div class="row card-panel">
     <span class="card-title black-text">
      EXCLUSIVE BY PRAGMATIC PLAY
     </span><hr/>
     <a href="{{ "/pragmatic-play/others" | relative_url }}" class="waves-effect right">
      <div class="col s12" style="padding:2px !important;">
        <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/olympus.jpg" | relative_url }}">
      </div>      
      <div class="col s6" style="padding:2px !important;">
        <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/img/pragmatic-play/exclusive/slotmania-princess.webp" | relative_url }}">
      </div>      
      <div class="col s6" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/img/pragmatic-play/exclusive/nexus-sweet-bonanza.webp" | relative_url }}">
      </div>
      </a>
     <a href="{{ "/pragmatic-play/others" | relative_url }}" class="waves-effect waves-yellow btn-flat black-text right">Lihat Semua <i class="material-icons right">arrow_forward</i></a>
    </div>
    
    <div class="row card-panel">
     <span class="card-title black-text">
      BIG TIME GAMING
     </span><hr/>
     <a href="{{ "/big-time-gaming" | relative_url }}" class="waves-effect right">
      <div class="col s6" style="padding:2px !important;">
        <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/apollo-pays.png" | relative_url }}">
      </div>      
      <div class="col s6" style="padding:2px !important;">
        <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/outlaw.png" | relative_url }}">
      </div>      
      <div class="col s6" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/img/big-time-gaming/the-final-countdown.webp" | relative_url }}">
      </div>
      <div class="col s6" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/img/big-time-gaming/queen-of-riches.webp" | relative_url }}">
      </div>
      </a>
     <a href="{{ "/big-time-gaming" | relative_url }}" class="waves-effect waves-yellow btn-flat black-text right">Lihat Semua <i class="material-icons right">arrow_forward</i></a>
    </div>

    <div class="row card-panel">
     <span class="card-title black-text">
      JOKER GAMING
     </span><hr/>
     <a href="{{ "/joker-gaming" | relative_url }}" class="waves-effect right">
      <div class="col s6" style="padding:2px !important;">
        <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/thai-paradise.jpg" | relative_url }}">
      </div>      
      <div class="col s6" style="padding:2px !important;">
        <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/majapahit.jpg" | relative_url }}">
      </div>      
      <div class="col s6" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/qatar2022.jpeg" | relative_url }}">
      </div>
      <div class="col s6" style="padding:2px !important;">
       <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/feature/columbus-deluxe.jpeg" | relative_url }}">
      </div>
      </a>
     <a href="{{ "/joker-gaming" | relative_url }}" class="waves-effect waves-yellow btn-flat black-text right">Lihat Semua <i class="material-icons right">arrow_forward</i></a>
    </div>

  <div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-image">
        <img class="lazy responsive-img" src="{{ "/assets/loading.gif" | relative_url }}" data-src="{{ "/assets/qriss-dana.jpg" | relative_url }}">
      </div>
      <div class="card-stacked">
        <div class="card-content" style="padding:10px;">
          <h6><b>Suka Situs Ini ?</b></h6>
          <p>Donasi ke Dana Dompet seikhlasnya.</p><br/>
          <img class="responsive-img" width="78" height="23" src="{{ "/assets/danalogo.png" | relative_url }}"/>
          <p><b>0881024240202</b></p>
        </div>
      </div>
    </div>
  </div>
