<div class="row" style="margin-top: 20px; margin-bottom:5px; padding-bottom: 0px;">
 <div class="col s12">
  <div class="row white" style="margin-bottom: 5px; padding-bottom: 0px;">
   <div class="input-field col s2">
    <button class="btn black waves-effect waves-yellow black" onclick="gridView()"><i class="material-icons">view_module</i></button>
    </div>
    <div class="input-field col s2">
     <button class="btn black waves-effect waves-yellow black" onclick="listView()"><i class="material-icons">view_list</i></button>        
    </div>
    <div class="input-field col s8">
      <i class="material-icons prefix">search</i>
      {% if page.active == "pgsoft" %}
      <input type="search" id="myfilter" placeholder="Cari di PGSoft">
      {% endif %}
      {% if page.active == "pragmatic-play" %}
      <input type="search" id="myfilter" placeholder="Cari di Pragmatic play">
      {% endif %}
      {% if page.active == "habanero" %}
      <input type="search" id="myfilter" placeholder="Cari di Habanero">
      {% endif %}
      {% if page.active == "yggdrasil" %}
      <input type="search" id="myfilter" placeholder="Cari di YGGDrasil">
      {% endif %}
      {% if page.active == "spadegaming" %}
      <input type="search" id="myfilter" placeholder="Cari di Spadegaming">
      {% endif %}
      {% if page.active == "microgaming" %}
      <input type="search" id="myfilter" placeholder="Cari di Microgaming">
      {% endif %}
      {% if page.active == "isoftbet" %}
      <input type="search" id="myfilter" placeholder="Cari di iSoftBet">
      {% endif %}
      {% if page.active == "netent" %}
      <input type="search" id="myfilter" placeholder="Cari di NetEnt">
      {% endif %}
      {% if page.active == "megaways" %}
      <input type="search" id="myfilter" placeholder="Cari di Megaways">
      {% endif %}
      {% if page.active == "wsg" %}
      <input type="search" id="myfilter" placeholder="Cari di Wild Streak Gaming">
      {% endif %}
      {% if page.active == "reel-kingdom" %}
      <input type="search" id="myfilter" placeholder="Cari di Reel Kingdom">
      {% endif %}
      {% if page.active == "big-time-gaming" %}
      <input type="search" id="myfilter" placeholder="Cari di Big Time Gaming">
      {% endif %}
      {% if page.active == "eagaming" %}
      <input type="search" id="myfilter" placeholder="Cari di Eurasian Gaming">
      {% endif %}
      {% if page.active == "bgaming" %}
      <input type="search" id="myfilter" placeholder="Cari di BGaming">
      {% endif %}
      {% if page.active == "nolimit-city" %}
      <input type="search" id="myfilter" placeholder="Cari di Nolimit City">
      {% endif %}
    </div>
   </div>
  </div>
 </div>
