<div class="nav-wrapper transparent scrollmenu" style="margin-bottom: 8px; display: block; margin-left: 10px; margin-right: 10px;">
 <button style="margin-right: 2px;" class="waves-effect waves-yellow black white-text btn-flat btn-small left" onclick="gridView()"><i class="material-icons left">view_module</i>Grid</button>
 <button class="waves-effect waves-yellow black white-text btn-flat btn-small left" onclick="listView()"><i class="material-icons left">view_list</i>List</button>
 {% if page.active == "pragmatic-play" %}
  <a href="{{ "./pragmatic-play/others" | relative_url }}" style="margin-left: 2px;" class="waves-effect waves-yellow black white-text btn-flat btn-small left">Exclusive Games</a>
  <button onclick='window.location.href = "https://as-saadah.github.io/games/megaways/"' style="margin-left: 2px;" class="waves-effect waves-yellow black white-text btn-flat btn-small left">Versi Megaways</button>
  {% endif %}
</div>
