{% if page.active == "pgsoft" %}
<div class="row grid-list" style="margin-top: 25px; margin-bottom:10px; padding-bottom: 0px;">
 <div class="col s12" style="margin:0px;">
  <div class="row white" style="margin-bottom: 5px; padding-bottom: 0px;">
    <div class="input-field col s4" style="margin: 0px; margin-top:5px;">
     <div class="btn-group" role="group">
      <a class="btn btn-inactive" id="grid"><i class="material-icons">view_module</i></a>
      <a class="btn grey" id="list"><i class="material-icons">view_list</i></a>
     </div>
    </div>
    <div class="input-field col s8" style="margin: 0px;">
      <i class="material-icons prefix" style="margin-top: 5px; font-size: 24px;">search</i>
      <input style="border-bottom: 0px;" type="search" id="myfilter" placeholder="Cari di PG Soft">
   </div>
  </div>
 </div>
</div>
{% endif %}
     
{% if page.active == "pragmatic-play" %}
<div class="row grid-list" style="margin-top: 25px; margin-bottom:10px; padding-bottom: 0px;">
 <div class="col s12" style="margin:0px;">
  <div class="row white" style="margin-bottom: 5px; padding-bottom: 0px;">
    <div class="input-field col s4" style="margin: 0px; margin-top:5px;">
     <div class="btn-group" role="group">
      <a class="btn btn-inactive" id="grid"><i class="material-icons">view_module</i></a>
      <a class="btn grey" id="list"><i class="material-icons">view_list</i></a>
     </div>
    </div>
    <div class="input-field col s8" style="margin: 0px;">
      <i class="material-icons prefix" style="margin-top: 5px; font-size: 24px;">search</i>
      <input style="border-bottom: 0px;" type="search" id="myfilter" placeholder="Cari di Pragmatic play">
   </div>
  </div>
 </div>
</div>
{% endif %}
     
{% if page.active == "habanero" %}
<div class="row grid-list" style="margin-top: 25px; margin-bottom:10px; padding-bottom: 0px;">
 <div class="col s12" style="margin:0px;">
  <div class="row white" style="margin-bottom: 5px; padding-bottom: 0px;">
    <div class="input-field col s4" style="margin: 0px; margin-top:5px;">
     <div class="btn-group" role="group">
      <a class="btn btn-inactive" id="grid"><i class="material-icons">view_module</i></a>
      <a class="btn grey" id="list"><i class="material-icons">view_list</i></a>
     </div>
    </div>
    <div class="input-field col s8" style="margin: 0px;">
      <i class="material-icons prefix" style="margin-top: 5px; font-size: 24px;">search</i>
      <input style="border-bottom: 0px;" type="search" id="myfilter" placeholder="Cari di Habanero">
   </div>
  </div>
 </div>
</div>
{% endif %}
     
{% if page.active == "yggdrasil" %}
<div class="row grid-list" style="margin-top: 25px; margin-bottom:10px; padding-bottom: 0px;">
 <div class="col s12" style="margin:0px;">
  <div class="row white" style="margin-bottom: 5px; padding-bottom: 0px;">
    <div class="input-field col s4" style="margin: 0px; margin-top:5px;">
     <div class="btn-group" role="group">
      <a class="btn btn-inactive" id="grid"><i class="material-icons">view_module</i></a>
      <a class="btn grey" id="list"><i class="material-icons">view_list</i></a>
     </div>
    </div>
    <div class="input-field col s8" style="margin: 0px;">
      <i class="material-icons prefix" style="margin-top: 5px; font-size: 24px;">search</i>
      <input style="border-bottom: 0px;" type="search" id="myfilter" placeholder="Cari di YGGDrasil">
   </div>
  </div>
 </div>
</div>
{% endif %}
     
{% if page.active == "spadegaming" %}
<div class="row grid-list" style="margin-top: 25px; margin-bottom:10px; padding-bottom: 0px;">
 <div class="col s12" style="margin:0px;">
  <div class="row white" style="margin-bottom: 5px; padding-bottom: 0px;">
    <div class="input-field col s4" style="margin: 0px; margin-top:5px;">
     <div class="btn-group" role="group">
      <a class="btn btn-inactive" id="grid"><i class="material-icons">view_module</i></a>
      <a class="btn grey" id="list"><i class="material-icons">view_list</i></a>
     </div>
    </div>
    <div class="input-field col s8" style="margin: 0px;">
      <i class="material-icons prefix" style="margin-top: 5px; font-size: 24px;">search</i>
      <input style="border-bottom: 0px;" type="search" id="myfilter" placeholder="Cari di Spadegaming">
   </div>
  </div>
 </div>
</div>
{% endif %}
     
{% if page.active == "microgaming" %}
<div class="row grid-list" style="margin-top: 25px; margin-bottom:10px; padding-bottom: 0px;">
 <div class="col s12" style="margin:0px;">
  <div class="row white" style="margin-bottom: 5px; padding-bottom: 0px;">
    <div class="input-field col s4" style="margin: 0px; margin-top:5px;">
     <div class="btn-group" role="group">
      <a class="btn btn-inactive" id="grid"><i class="material-icons">view_module</i></a>
      <a class="btn grey" id="list"><i class="material-icons">view_list</i></a>
     </div>
    </div>
    <div class="input-field col s8" style="margin: 0px;">
      <i class="material-icons prefix" style="margin-top: 5px; font-size: 24px;">search</i>
      <input style="border-bottom: 0px;" type="search" id="myfilter" placeholder="Cari di Microgaming">
   </div>
  </div>
 </div>
</div>
{% endif %}
     
{% if page.active == "isoftbet" %}
<div class="row grid-list" style="margin-top: 25px; margin-bottom:10px; padding-bottom: 0px;">
 <div class="col s12" style="margin:0px;">
  <div class="row white" style="margin-bottom: 5px; padding-bottom: 0px;">
    <div class="input-field col s4" style="margin: 0px; margin-top:5px;">
     <div class="btn-group" role="group">
      <a class="btn btn-inactive" id="grid"><i class="material-icons">view_module</i></a>
      <a class="btn grey" id="list"><i class="material-icons">view_list</i></a>
     </div>
    </div>
    <div class="input-field col s8" style="margin: 0px;">
      <i class="material-icons prefix" style="margin-top: 5px; font-size: 24px;">search</i>
      <input style="border-bottom: 0px;" type="search" id="myfilter" placeholder="Cari di iSoftBet">
   </div>
  </div>
 </div>
</div>
{% endif %}
     
{% if page.active == "netent" %}
<div class="row grid-list" style="margin-top: 25px; margin-bottom:10px; padding-bottom: 0px;">
 <div class="col s12" style="margin:0px;">
  <div class="row white" style="margin-bottom: 5px; padding-bottom: 0px;">
    <div class="input-field col s4" style="margin: 0px; margin-top:5px;">
     <div class="btn-group" role="group">
      <a class="btn btn-inactive" id="grid"><i class="material-icons">view_module</i></a>
      <a class="btn grey" id="list"><i class="material-icons">view_list</i></a>
     </div>
    </div>
    <div class="input-field col s8" style="margin: 0px;">
      <i class="material-icons prefix" style="margin-top: 5px; font-size: 24px;">search</i>
      <input style="border-bottom: 0px;" type="search" id="myfilter" placeholder="Cari di NetEnt">
   </div>
  </div>
 </div>
</div>
{% endif %}
     
{% if page.active == "megaways" %}
<div class="row grid-list" style="margin-top: 25px; margin-bottom:10px; padding-bottom: 0px;">
 <div class="col s12" style="margin:0px;">
  <div class="row white" style="margin-bottom: 5px; padding-bottom: 0px;">
    <div class="input-field col s4" style="margin: 0px; margin-top:5px;">
     <div class="btn-group" role="group">
      <a class="btn btn-inactive" id="grid"><i class="material-icons">view_module</i></a>
      <a class="btn grey" id="list"><i class="material-icons">view_list</i></a>
     </div>
    </div>
    <div class="input-field col s8" style="margin: 0px;">
      <i class="material-icons prefix" style="margin-top: 5px; font-size: 24px;">search</i>
      <input style="border-bottom: 0px;" type="search" id="myfilter" placeholder="Cari di Megaways">
   </div>
  </div>
 </div>
</div>
{% endif %}
     
{% if page.active == "wsg" %}
<div class="row grid-list" style="margin-top: 25px; margin-bottom:10px; padding-bottom: 0px;">
 <div class="col s12" style="margin:0px;">
  <div class="row white" style="margin-bottom: 5px; padding-bottom: 0px;">
    <div class="input-field col s4" style="margin: 0px; margin-top:5px;">
     <div class="btn-group" role="group">
      <a class="btn btn-inactive" id="grid"><i class="material-icons">view_module</i></a>
      <a class="btn grey" id="list"><i class="material-icons">view_list</i></a>
     </div>
    </div>
    <div class="input-field col s8" style="margin: 0px;">
      <i class="material-icons prefix" style="margin-top: 5px; font-size: 24px;">search</i>
      <input style="border-bottom: 0px;" type="search" id="myfilter" placeholder="Cari di Wild Streak Gaming">
   </div>
  </div>
 </div>
</div>
{% endif %}
     
{% if page.active == "reel-kingdom" %}
<div class="row grid-list" style="margin-top: 25px; margin-bottom:10px; padding-bottom: 0px;">
 <div class="col s12" style="margin:0px;">
  <div class="row white" style="margin-bottom: 5px; padding-bottom: 0px;">
    <div class="input-field col s4" style="margin: 0px; margin-top:5px;">
     <div class="btn-group" role="group">
      <a class="btn btn-inactive" id="grid"><i class="material-icons">view_module</i></a>
      <a class="btn grey" id="list"><i class="material-icons">view_list</i></a>
     </div>
    </div>
    <div class="input-field col s8" style="margin: 0px;">
      <i class="material-icons prefix" style="margin-top: 5px; font-size: 24px;">search</i>
      <input style="border-bottom: 0px;" type="search" id="myfilter" placeholder="Cari di Reel Kingdom">
   </div>
  </div>
 </div>
</div>
{% endif %}
     
{% if page.active == "big-time-gaming" %}
<div class="row grid-list" style="margin-top: 25px; margin-bottom:10px; padding-bottom: 0px;">
 <div class="col s12" style="margin:0px;">
  <div class="row white" style="margin-bottom: 5px; padding-bottom: 0px;">
    <div class="input-field col s4" style="margin: 0px; margin-top:5px;">
     <div class="btn-group" role="group">
      <a class="btn btn-inactive" id="grid"><i class="material-icons">view_module</i></a>
      <a class="btn grey" id="list"><i class="material-icons">view_list</i></a>
     </div>
    </div>
    <div class="input-field col s8" style="margin: 0px;">
      <i class="material-icons prefix" style="margin-top: 5px; font-size: 24px;">search</i>
      <input style="border-bottom: 0px;" type="search" id="myfilter" placeholder="Cari di Big Time Gaming">
   </div>
  </div>
 </div>
</div>
{% endif %}
      
{% if page.active == "eagaming" %}
<div class="row grid-list" style="margin-top: 25px; margin-bottom:10px; padding-bottom: 0px;">
 <div class="col s12" style="margin:0px;">
  <div class="row white" style="margin-bottom: 5px; padding-bottom: 0px;">
    <div class="input-field col s4" style="margin: 0px; margin-top:5px;">
     <div class="btn-group" role="group">
      <a class="btn btn-inactive" id="grid"><i class="material-icons">view_module</i></a>
      <a class="btn grey" id="list"><i class="material-icons">view_list</i></a>
     </div>
    </div>
    <div class="input-field col s8" style="margin: 0px;">
      <i class="material-icons prefix" style="margin-top: 5px; font-size: 24px;">search</i>
      <input style="border-bottom: 0px;" type="search" id="myfilter" placeholder="Cari di Eurasian Gaming">
   </div>
  </div>
 </div>
</div>
{% endif %}
     
{% if page.active == "bgaming" %}
<div class="row grid-list" style="margin-top: 25px; margin-bottom:10px; padding-bottom: 0px;">
 <div class="col s12" style="margin:0px;">
  <div class="row white" style="margin-bottom: 5px; padding-bottom: 0px;">
    <div class="input-field col s4" style="margin: 0px; margin-top:5px;">
     <div class="btn-group" role="group">
      <a class="btn btn-inactive" id="grid"><i class="material-icons">view_module</i></a>
      <a class="btn grey" id="list"><i class="material-icons">view_list</i></a>
     </div>
    </div>
    <div class="input-field col s8" style="margin: 0px;">
      <i class="material-icons prefix" style="margin-top: 5px; font-size: 24px;">search</i>
      <input style="border-bottom: 0px;" type="search" id="myfilter" placeholder="Cari di BGaming">
   </div>
  </div>
 </div>
</div>
{% endif %}
      
{% if page.active == "nolimit-city" %}
<div class="row grid-list" style="margin-top: 25px; margin-bottom:10px; padding-bottom: 0px;">
 <div class="col s12" style="margin:0px;">
  <div class="row white" style="margin-bottom: 5px; padding-bottom: 0px;">
    <div class="input-field col s4" style="margin: 0px; margin-top:5px;">
     <div class="btn-group" role="group">
      <a class="btn btn-inactive" id="grid"><i class="material-icons">view_module</i></a>
      <a class="btn grey" id="list"><i class="material-icons">view_list</i></a>
     </div>
    </div>
    <div class="input-field col s8" style="margin: 0px;">
      <i class="material-icons prefix" style="margin-top: 5px; font-size: 24px;">search</i>
      <input style="border-bottom: 0px;" type="search" id="myfilter" placeholder="Cari di Nolimit City">
   </div>
  </div>
 </div>
</div>
{% endif %}
      
{% if page.active == "exclusive" %}
<div class="row grid-list" style="margin-top: 25px; margin-bottom:10px; padding-bottom: 0px;">
 <div class="col s12" style="margin:0px;">
  <div class="row white" style="margin-bottom: 5px; padding-bottom: 0px;">
    <div class="input-field col s4" style="margin: 0px; margin-top:5px;">
     <div class="btn-group" role="group">
      <a class="btn btn-inactive" id="grid"><i class="material-icons">view_module</i></a>
      <a class="btn grey" id="list"><i class="material-icons">view_list</i></a>
     </div>
    </div>
    <div class="input-field col s8" style="margin: 0px;">
      <i class="material-icons prefix" style="margin-top: 5px; font-size: 24px;">search</i>
      <input style="border-bottom: 0px;" type="search" id="myfilter" placeholder="Cari di Exclusive Pragmatic">
   </div>
  </div>
 </div>
</div>
{% endif %}
     
{% if page.active == "redtiger" %}
<div class="row grid-list" style="margin-top: 25px; margin-bottom:10px; padding-bottom: 0px;">
 <div class="col s12" style="margin:0px;">
  <div class="row white" style="margin-bottom: 5px; padding-bottom: 0px;">
    <div class="input-field col s4" style="margin: 0px; margin-top:5px;">
     <div class="btn-group" role="group">
      <a class="btn btn-inactive" id="grid"><i class="material-icons">view_module</i></a>
      <a class="btn grey" id="list"><i class="material-icons">view_list</i></a>
     </div>
    </div>
    <div class="input-field col s8" style="margin: 0px;">
      <i class="material-icons prefix" style="margin-top: 5px; font-size: 24px;">search</i>
      <input style="border-bottom: 0px;" type="search" id="myfilter" placeholder="Cari di Red Tiger">
   </div>
  </div>
 </div>
</div>
{% endif %}
     
{% if page.active == "advant-play" %}
<div class="row grid-list" style="margin-top: 25px; margin-bottom:10px; padding-bottom: 0px;">
 <div class="col s12" style="margin:0px;">
  <div class="row white" style="margin-bottom: 5px; padding-bottom: 0px;">
    <div class="input-field col s4" style="margin: 0px; margin-top:5px;">
     <div class="btn-group" role="group">
      <a class="btn btn-inactive" id="grid"><i class="material-icons">view_module</i></a>
      <a class="btn grey" id="list"><i class="material-icons">view_list</i></a>
     </div>
    </div>
    <div class="input-field col s8" style="margin: 0px;">
      <i class="material-icons prefix" style="margin-top: 5px; font-size: 24px;">search</i>
      <input style="border-bottom: 0px;" type="search" id="myfilter" placeholder="Cari di Advant Play">
   </div>
  </div>
 </div>
</div>
{% endif %}

{% if page.active == "naga-games" %}
<div class="row grid-list" style="margin-top: 25px; margin-bottom:10px; padding-bottom: 0px;">
 <div class="col s12" style="margin:0px;">
  <div class="row white" style="margin-bottom: 5px; padding-bottom: 0px;">
    <div class="input-field col s4" style="margin: 0px; margin-top:5px;">
     <div class="btn-group" role="group">
      <a class="btn btn-inactive" id="grid"><i class="material-icons">view_module</i></a>
      <a class="btn grey" id="list"><i class="material-icons">view_list</i></a>
     </div>
    </div>
    <div class="input-field col s8" style="margin: 0px;">
      <i class="material-icons prefix" style="margin-top: 5px; font-size: 24px;">search</i>
      <input style="border-bottom: 0px;" type="search" id="myfilter" placeholder="Cari di Naga Games">
   </div>
  </div>
 </div>
</div>
{% endif %}
