  <div id="modal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Permainan Tidak Bisa Dibuka</h4>
      <p>Jika anda mendapatkan notikasi seperti yang terlihat digambar dibawah ini, silahkan coba klik "<b>Muat Ulang</b>", apabila masih muncul klik lagi 1-2x atau sampai berhasil masuk ke permainan.</p>
      <p><img src="../assets/images/pg/error-pgsoft.jpg" class="responsive-img"/></p>
      <p>Jika langkah tersebut tidak berhasil:</p>
      <ol>
       <li>Periksa sambungan Internet.</li>
       <li>Hapus cache dan cookie.</li>
       <li>Tutup tabs atau aplikasi lain.</li>
       <li>Update Chrome atau mobile browser lainnya ke versi terbaru.</li>
      </ol>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Tutup</a>
    </div>
  </div>
