<script src="https://as-saadah.github.io/games/assets/js/modal.js"></script>
<script>
// Instansiate Model
var modal = new ModalDialog({
    // Take care changing modal name it affects almost everything:
    // all class names, except SVGs, and all data attribute names
    modalName : "modal",
    openClass : "-open",            // is default ("-" + modaName automatically prepended)
    lightboxClass : "lightbox",     // is default (modaName + "_" automatically prepended)
    svgCloseId : "icon-cross",      // default
    svgCloseClass : "svg-close",    // default
    svgLoadingId : "icon-loading",  // default
    svgLoadingClass : "svg-loading" // default
  }, window, document, debounce);
</script>
