<nav class="navbar fixed-top bg-body-tertiary" style="margin-top: 50px; height:60px; background: black !important;">
 <div class="container-fluid">     
 <ul class="nav nav-pills nav-justified mb-3 flex-scroll-x" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active btn-sm" id="pills-pragmaticplay-tab" data-bs-toggle="pill" data-bs-target="#pills-pragmaticplay" type="button" role="tab" aria-controls="pills-pragmaticplay" aria-selected="true">
     <img src="./assets/pp.webp" width="30" />
     Pragmatic
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <a href="/games/slotmania" class="nav-link btn-sm" type="button" role="tab" aria-selected="false">
     <img src="./assets/maniaslot.webp" width="30" />
     Slot Mania
    </a>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link btn-sm" id="pills-pgsoft-tab" data-bs-toggle="pill" data-bs-target="#pills-pgsoft" type="button" role="tab" aria-controls="pills-pgsoft" aria-selected="false">
     <img src="./assets/pg.webp" width="30" />
     PG Soft
    </button>
  </li>
</ul>
 </div> 
</nav>
