<!--nav--> 
<nav class="navbar fixed-top bg-body-tertiary" data-bs-theme="dark">
 <div class="container-fluid"> 
  <a href="https://as-saadah.github.io/games/" class="navbar-toggler"> 
   <i data-feather="home"></i>
  </a>
  <a class="navbar-brand" href="#!">
   {{ page.title }}
  </a> 
  <a href="{{ site.url | absolute_url }}" class="navbar-toggler"> 
   <i data-feather="refresh-ccw"></i>
  </a>
  <a class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"> 
   <i data-feather="info"></i>
  </a>
 </div> 
</nav> 
<!--/nav--> 
