<!--nav--> 
  <nav class="nav-extended fixed-nav">
    <div class="nav-wrapper black">
        <a href="https://as-saadah.github.io/games/about/" class="icon-left show-on-med-and-down left waves-effect waves-light">
       <i class="material-icons">info</i>
      </a>
      <a href="https://as-saadah.github.io/games/" class="brand-logo center">
       {{ site.title }}
      </a>
      <a href="{{ absolute_url }}" class="icon-right show-on-med-and-down right waves-effect waves-light">
       <i class="material-icons">cached</i>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="https://as-saadah.github.io/games/">Beranda</a></li>
        <li><a href="https://as-saadah.github.io/games/about/">Hubungi</a></li>
        <li><a href="https://as-saadah.github.io/games/app/android/demo-games.apk">Download APK</a></li>
      </ul>
    </div>
    <div class="nav-content grey darken-4">
      <ul class="tabs1 tabs-transparent1">   

        <li class="tab2">
        {% if page.active == "pragmatic-play" %} 
         <a class="active waves-effect waves-light" href="#!">
         Pragmatic Play
         </a>
        {% else %}
         <a class="waves-effect waves-light" href="https://as-saadah.github.io/games/">
         Pragmatic Play
         </a>
        {% endif %}
        </li>

        <li class="tab2">
        {% if page.active == "slotmania" %}
         <a class="active waves-effect waves-light" href="#!">
         Slot Mania
         </a>
        {% else %}
         <a class="waves-effect waves-light" href="https://as-saadah.github.io/games/slotmania/">
         Slot Mania
         </a>
        {% endif %}
        </li>

        <li class="tab2">
        {% if page.active == "pgsoft" %}
         <a class="active waves-effect waves-light" href="#!">
         PG Soft Games
         </a>
        {% else %}
         <a class="waves-effect waves-light" href="https://as-saadah.github.io/games/pgsoft/">
         PG Soft Games
         </a>
        {% endif %}
        </li>


        <li class="tab2">
        {% if page.active == "megaways" %}
         <a class="active waves-effect waves-light" href="#!">
         Megaways
         </a>
        {% else %}
         <a class="waves-effect waves-light" href="https://as-saadah.github.io/games/megaways/">
         Megaways
         </a>
        {% endif %}
        </li>

        <li class="tab2">
        {% if page.active == "reel-kingdom" %}
         <a class="active waves-effect waves-light" href="#!">
         Reel Kingdom
         </a>
        {% else %}
         <a class="waves-effect waves-light" href="https://as-saadah.github.io/games/reel-kingdom/">
         Reel Kingdom
         </a>
        {% endif %}
        </li>

      </ul>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-demo">
        <li><a href="https://as-saadah.github.io/games/">Beranda</a></li>
        <li><a href="https://as-saadah.github.io/games/about/">Hubungi</a></li>
        <li><a href="https://as-saadah.github.io/games/app/android/demo-games.apk">Download APK</a></li>
  </ul>
<!--/nav--> 
