<ul class="tabs tabs-transparent tabs-fixed-width z-depth-1"> 

{% if page.active == "pragmatic-play" %}
 <li class="tab">
  <a class="active" href="#!" target="_self">
   Pragmatic Play
  </a>
 </li>
{% else %}
 <li class="tab">
  <a href="https://as-saadah.github.io/games/" target="_self">
   Pragmatic Play
  </a>
 </li>
{% endif %}

{% if page.active == "slotmania" %}
 <li class="tab">
  <a class="active" href="#!" target="_self">
   Slot Mania
  </a>
 </li>
{% else %}
 <li class="tab">
  <a href="https://as-saadah.github.io/games/slotmania/" target="_self">
   Slot Mania
  </a>
 </li>
{% endif %}

{% if page.active == "pgsoft" %}
 <li class="tab">
  <a class="active" href="#!" target="_self">
   PG Soft Games
  </a>
 </li>
{% else %}
 <li class="tab">
  <a href="https://as-saadah.github.io/games/pgsoft/" target="_self">
   PG Soft Games
  </a>
 </li>
{% endif %}

{% if page.active == "reel-kingdom" %}
 <li class="tab">
  <a class="active" href="#!" target="_self">
   Reel Kingdom
  </a>
 </li>
{% else %}
 <li class="tab">
  <a href="https://as-saadah.github.io/games/reel-kingdom/" target="_self">
   Reel Kingdom
  </a>
 </li>
{% endif %}

{% if page.active == "megaways" %}
 <li class="tab">
  <a class="active" href="#!" target="_self">
   Megaways
  </a>
 </li>
{% else %}
 <li class="tab">
  <a href="https://as-saadah.github.io/games/megaways/" target="_self">
   Megaways
  </a>
 </li>
{% endif %}

{% if page.active == "wsg" %}
 <li class="tab">
  <a class="active" href="#!" target="_self">
   Wild Streak Gaming
  </a>
 </li>
{% else %}
 <li class="tab">
  <a href="https://as-saadah.github.io/games/wild-streak-gaming/" target="_self">
   Wild Streak Gaming
  </a>
 </li>
{% endif %}

</ul>
