<ul class="tabs tabs-transparent home">
 <li class="tab left"><a href="https://as-saadah.github.io/games/" class="waves-effect"><i class="material-icons white-text">home</i></a></li>
 {% if page.active == "pgsoft" %}
 <a class='dropdown-trigger right' href='#' data-target="bahasa"><i class="material-icons white-text">g_translate</i></a>
 {% endif %}
 {% if page.active == "redtiger" %}
 <a class='dropdown-trigger right' href='#' data-target="bahasa"><i class="material-icons white-text">g_translate</i></a>
 {% endif %}
 <ul id='bahasa' class='dropdown-content'>
    <li id="fr_click" class="current_lang lang">English</li>
    <li id="en_click" class="lang">Indonesia</li>
 </ul>
</ul>

<ul class="tabs tabs-transparent tabs-fixed-width z-depth-1 tabs-costum"> 
 
{% if page.active == "pragmatic-play" %}
 <li class="tab active grey lighten-2">
  <a href="#!">
   {{ site.data.menu-provider.pragmatic-play.title }}
  </a>
 </li>
{% else %}
 <li class="tab">
  <a class="waves-effect waves-light" href="{{ site.data.menu-provider.pragmatic-play.url | relative_url }}" target="_self">
   {{ site.data.menu-provider.pragmatic-play.title }}
  </a>
 </li>
{% endif %}

{% if page.active == "pgsoft" %}
 <li class="tab active grey lighten-2">
  <a href="#!">
   {{ site.data.menu-provider.pgsoft.title }}
  </a>
 </li>
{% else %}
 <li class="tab">
  <a class="waves-effect waves-light" href="{{ site.data.menu-provider.pgsoft.url | relative_url }}" target="_self">
   {{ site.data.menu-provider.pgsoft.title }}
  </a>
 </li>
{% endif %}

 {% if page.active == "megaways" %}
 <li class="tab active grey lighten-2">
  <a href="#!" target="_self">
   {{ site.data.menu-provider.megaways.title }}
  </a>
 </li>
{% else %}
 <li class="tab">
  <a class="waves-effect waves-light" href="{{ site.data.menu-provider.megaways.url | relative_url }}" target="_self">
   {{ site.data.menu-provider.megaways.title }}
  </a>
 </li>
{% endif %}
 
{% if page.active == "habanero" %}
 <li class="tab active grey lighten-2">
  <a href="#!" target="_self">
   {{ site.data.menu-provider.habanero.title }}
  </a>
 </li>
{% else %}
 <li class="tab">
  <a class="waves-effect waves-light" href="{{ site.data.menu-provider.habanero.url | relative_url }}" target="_self">
   {{ site.data.menu-provider.habanero.title }}
  </a>
 </li>
{% endif %}

{% if page.active == "yggdrasil" %}
 <li class="tab active grey lighten-2">
  <a href="#!" target="_self">
   {{ site.data.menu-provider.yggdrasil.title }}
  </a>
 </li>
{% else %}
 <li class="tab">
  <a class="waves-effect waves-light" href="{{ site.data.menu-provider.yggdrasil.url | relative_url }}" target="_self">
   {{ site.data.menu-provider.yggdrasil.title }}
  </a>
 </li>
{% endif %}

{% if page.active == "spadegaming" %}
 <li class="tab active grey lighten-2">
  <a href="#!" target="_self">
   {{ site.data.menu-provider.spadegaming.title }}
  </a>
 </li>
{% else %}
 <li class="tab">
  <a class="waves-effect waves-light" href="{{ site.data.menu-provider.spadegaming.url | relative_url }}" target="_self">
   {{ site.data.menu-provider.spadegaming.title }}
  </a>
 </li>
{% endif %}

{% if page.active == "microgaming" %}
 <li class="tab active grey lighten-2">
  <a href="#!" target="_self">
   {{ site.data.menu-provider.microgaming.title }}
  </a>
 </li>
{% else %}
 <li class="tab">
  <a class="waves-effect waves-light" href="{{ site.data.menu-provider.microgaming.url | relative_url }}" target="_self">
   {{ site.data.menu-provider.microgaming.title }}
  </a>
 </li>
{% endif %}

{% if page.active == "isoftbet" %}
 <li class="tab active grey lighten-2">
  <a href="#!" target="_self">
   {{ site.data.menu-provider.isoftbet.title }}
  </a>
 </li>
{% else %}
 <li class="tab">
  <a class="waves-effect waves-light" href="{{ site.data.menu-provider.isoftbet.url | relative_url }}" target="_self">
   {{ site.data.menu-provider.isoftbet.title }}
  </a>
 </li>
{% endif %}

{% if page.active == "netent" %}
 <li class="tab active grey lighten-2">
  <a href="#!" target="_self">
   {{ site.data.menu-provider.netent.title }}
  </a>
 </li>
{% else %}
 <li class="tab">
  <a class="waves-effect waves-light" href="{{ site.data.menu-provider.netent.url | relative_url }}" target="_self">
   {{ site.data.menu-provider.netent.title }}
  </a>
 </li>
{% endif %}

      {% if page.active == "wsg" %}
        <li class="tab active grey lighten-2">
         <a href="#!">
          {{ site.data.menu-provider.wsg.title }}
         </a>
        </li>
      {% else %}
        <li class="tab">
         <a target="_self" class="waves-effect waves-light" href="{{ site.data.menu-provider.wsg.url | relative_url }}">
          {{ site.data.menu-provider.wsg.title }}
         </a>
      {% endif %}

      {% if page.active == "reel-kingdom" %}
        <li class="tab active grey lighten-2">
         <a href="#!">
          {{ site.data.menu-provider.reel-kingdom.title }}
         </a>
        </li>
      {% else %}
       <li class="tab">
         <a target="_self" class="waves-effect waves-light" href="{{ site.data.menu-provider.reel-kingdom.url | relative_url }}">
          {{ site.data.menu-provider.reel-kingdom.title }}
         </a>
        </li>
      {% endif %}

      {% if page.active == "eagaming" %}
        <li class="tab active grey lighten-2">
         <a href="#!">
          {{ site.data.menu-provider.eagaming.title }}
         </a>
        </li>
      {% else %}
       <li class="tab">
         <a target="_self" class="waves-effect waves-light" href="{{ site.data.menu-provider.eagaming.url | relative_url }}">
          {{ site.data.menu-provider.eagaming.title }}
         </a>
        </li>
      {% endif %}
      
      {% if page.active == "big-time-gaming" %}
        <li class="tab active grey lighten-2">
         <a href="#!">
          {{ site.data.menu-provider.btg.title }}
         </a>
        </li>
      {% else %}
       <li class="tab">
         <a target="_self" class="waves-effect waves-light" href="{{ site.data.menu-provider.btg.url | relative_url }}">
          {{ site.data.menu-provider.btg.title }}
         </a>
        </li>
      {% endif %}
 
 {% if page.active == "bgaming" %}
   <li class="tab active grey lighten-2">
    <a href="#!">
     {{ site.data.menu-provider.bgaming.title }}
    </a>
   </li>
  {% else %}
   <li class="tab">
    <a target="_self" class="waves-effect waves-light" href="{{ site.data.menu-provider.bgaming.url | relative_url }}">
     {{ site.data.menu-provider.bgaming.title }}
    </a>
   </li>
  {% endif %}
 
 {% if page.active == "nolimit-city" %}
   <li class="tab active grey lighten-2">
    <a href="#!">
     {{ site.data.menu-provider.nolimit-city.title }}
    </a>
   </li>
  {% else %}
   <li class="tab">
    <a target="_self" class="waves-effect waves-light" href="{{ site.data.menu-provider.nolimit-city.url | relative_url }}">
     {{ site.data.menu-provider.nolimit-city.title }}
    </a>
   </li>
 {% endif %}

 {% if page.active == "redtiger" %}
   <li class="tab active grey lighten-2">
    <a href="#!">
     {{ site.data.menu-provider.redtiger.title }}
    </a>
   </li>
  {% else %}
   <li class="tab">
    <a target="_self" class="waves-effect waves-light" href="{{ site.data.menu-provider.redtiger.url | relative_url }}">
     {{ site.data.menu-provider.redtiger.title }}
    </a>
   </li>
 {% endif %}
 
 {% if page.active == "pp-exclusive" %}
   <li class="tab active grey lighten-2">
    <a href="#!">
     {{ site.data.menu-provider.pp-exclusive.title }}
    </a>
   </li>
  {% else %}
   <li class="tab">
    <a target="_self" class="waves-effect waves-light" href="{{ "pragmatic-play/exclusive" | relative_url }}">
     {{ site.data.menu-provider.pp-exclusive.title }}
    </a>
   </li>
 {% endif %}
 
</ul>
