<ul class="tabs tabs-transparent tabs-fixed-width z-depth-1"> 

{% if page.active == "pragmatic-play" %}
 <li class="tab active" style="background-color: #546e7a;">
  <a class="active" href="#!" target="_self">
   Pragmatic Play
  </a>
 </li>
{% else %}
 <li class="tab">
  <a class="waves-effect waves-light" href="https://as-saadah.github.io/games/" target="_self">
   Pragmatic Play
  </a>
 </li>
{% endif %}

{% if page.active == "pgsoft" %}
 <li class="tab active" style="background-color: #546e7a;">
  <a class="active" href="#!" target="_self">
   PG Soft Games
  </a>
 </li>
{% else %}
 <li class="tab">
  <a class="waves-effect waves-light" href="https://as-saadah.github.io/games/pgsoft/" target="_self">
   PG Soft Games
  </a>
 </li>
{% endif %}

</ul>
