<!--nav--> 
<div class="navbar-fixed">
  <nav class="nav-extended">
    <div class="nav-wrapper black">
      <a href="https://as-saadah.github.io/games/about/" class="icon-left show-on-med-and-down left waves-effect waves-light">
       <i class="material-icons">info</i>
      </a>
      <a href="https://as-saadah.github.io/games/app/android/demo-games.apk" class="icon-left show-on-med-and-down left waves-effect waves-light">
       <i class="material-icons">cloud_download</i>
      </a>
      <a href="https://as-saadah.github.io/games/" class="brand-logo center">
       {{ site.title }}
      </a>
      <a href="{{ absolute_url }}" class="icon-right show-on-med-and-down right waves-effect waves-light">
       <i class="material-icons">cached</i>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="https://as-saadah.github.io/games/">Beranda</a></li>
        <li><a href="https://as-saadah.github.io/games/about/">Hubungi</a></li>
      </ul>
    </div>
    <div class="nav-content blue-grey darken-4">
<ul class="tabs tabs-transparent tabs-fixed-width z-depth-1"> 

{% if page.active == "pragmatic-play" %}
 <li class="tab">
  <a class="active" href="#!">
   Pragmatic Play
  </a>
 </li>
{% else %}
 <li class="tab">
  <a class="waves-effect waves-light" href="https://as-saadah.github.io/games/" target="_self">
   Pragmatic Play
  </a>
 </li>
{% endif %}
{% if page.active == "pgsoft" %}
 <li class="tab">
  <a class="active" href="#!">
   PG Soft Games
  </a>
 </li>
{% else %}
 <li class="tab">
  <a class="waves-effect waves-light" href="https://as-saadah.github.io/games/pgsoft/" target="_self">
   PG Soft Games
  </a>
 </li>
{% endif %}

</ul>
    </div>

    <div class="nav-content blue-grey darken-1 nav-content-custom">
      <ul class="tabs tabs-transparent">

      {% if page.active == "slotmania" %}
        <li class="tab active">
         <a class="active waves-effect waves-light" href="#!">
         Slot Mania
         </a>
        </li>
      {% else %}
        <li class="tab">
         <a target="_self" class="waves-effect waves-light" href="https://as-saadah.github.io/games/slotmania/">
         Slot Mania
         </a>
        </li>
      {% endif %}

      {% if page.active == "megaways" %}
        <li class="tab active">
         <a class="active waves-effect waves-light" href="#!">
          Megaways
         </a>
        </li>
      {% else %}
        <li class="tab">
         <a target="_self" class="waves-effect waves-light" href="https://as-saadah.github.io/games/megaways/">
          Megaways
         </a>
        </li>
      {% endif %}

      {% if page.active == "wsg" %}
        <li class="tab active">
         <a class="active waves-effect waves-light" href="#!">
          Wild Streak Gaming
         </a>
        </li>
      {% else %}
        <li class="tab">
         <a target="_self" class="waves-effect waves-light" href="https://as-saadah.github.io/games/wild-streak-gaming/">
          Wild Streak Gaming
         </a>
      {% endif %}

      {% if page.active == "reel-kingdom" %}
        <li class="tab active">
         <a class="active waves-effect waves-light" href="#!">
          Reel Kingdom
         </a>
        </li>
      {% else %}
       <li class="tab">
         <a target="_self" class="waves-effect waves-light" href="https://as-saadah.github.io/games/reel-kingdom/">
          Reel Kingdom
         </a>
        </li>
      {% endif %}

      </ul>
    </div>

  </nav>
  <ul class="sidenav" id="mobile-demo">
        <li><a href="https://as-saadah.github.io/games/">Beranda</a></li>
        <li><a href="https://as-saadah.github.io/games/about/">Hubungi</a></li>
  </ul>
</div>
<!--/nav-->
