  <ul id="slide-out" class="sidenav">
    <li>
    <div class="user-view">
     <h5>{{ site.title }}</h5>
    </div>
    </li>
    <li>
     <div class="desc">
     <p>
      Stop bermain game judi slot online! Mainkan saja disitus kami permainan demo slot secara gratis tanpa deposit atau memakai uang asli.   
     </p>
     </div>
    </li>
    <li>
     <a class="waves-effect" href="https://as-saadah.github.io/games/">
        Halaman Depan
     </a>
     <li>
    </li>
    <li>
     <a class="waves-effect" href="https://as-saadah.github.io/providers/">
        Providers
     </a>
     <li>
     <a class="waves-effect" href="https://as-saadah.github.io/games/app/android/demo-games.apk">
        Unduh APK Android
     </a>
     </li>
     <li>
     <a class="waves-effect" href="https://as-saadah.github.io/games/about/">
        Disclaimer
     </a>
     </li>
    
  </ul>
