  <ul id="slide-out" class="sidenav">

    <li>
    <div class="user-view">
     <h5>{{ site.title }}</h5>
    </div>
    </li>

    <li>
     <div class="desc">
     <p>
      Mainkan permainan secara gratis disini tanpa deposit atau memakai uang asli.   
     </p>
     </div>
    </li>

    <li>
     <div class="divider"></div>
    </li>
    
    <li>
     <a class="waves-effect waves-yellow" href="https://as-saadah.github.io/games/">
      <i class="material-icons white-text">home</i> Beranda
     </a>
     </li>

     <li>
     <a class="waves-effect waves-yellow" href="https://as-saadah.github.io/games/about/">
      <i class="material-icons white-text">report_problem</i> Penafian (Disclaimer)
     </a>
     </li>
    
         <li style="padding-left: 15px;">
          <ul class="collapsible collapsible-accordion">
              <li>
                <a class="collapsible-header white-text waves-effect">
                <i class="material-icons white-text">videogame_asset</i> Vendors 
                <i class="material-icons right white-text" style="margin-right:0;">arrow_drop_down</i></a>
                <div class="collapsible-body z-depth-3 grey darken-4">
                  <ul>
                    {% for slot in site.data.nav-menu %}
                    <li {% if page.url == '{{ slot.url | relative_url }}' %}class="active grey darken-4"{% endif %}>
      <a class="active waves-effect waves-yellow" href="{{ slot.url | relative_url }}">{{ slot.name }}</a>    
                    </li>
                    {% endfor %}
                    <li><div class="divider"></div></li>
                  </ul>
                </div>
              </li>
          </ul>
        </li>

    <li>
     <a class="waves-effect waves-yellow" href="https://pffgame.github.io/app/android/play-for-fun.apk">
      <i class="material-icons white-text">android</i> Unduh APK Android
     </a>
    </li>
    
  </ul>
