<!--menu--> 
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">{{ site.title }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
     <p>
      Stop bermain judi slot dan mainkan saja disini game demo slot online secara gratis tanpa deposit. 
     </p>
    </div>
    <hr/>
    <h4>Disclaimer</h4>
    <p>Situs ini bukan agen slot online, togel online, agen bola, dll. Kami juga bukan dari pihak provider Pragmatic Play, dan sejenisnya.</p>
    <hr/>
    <h4>Information:</h4>
    <ul>
     <li>Format Images : <b>.webp</b></li>
     <li>Currency : <b>Indonesian Rupiah (IDR / RP)</b></li>
    </ul>
    <hr/>
    <h4>Hubungi:</h4>
     <p>
      Donasi (Dana) : 0881024240202 <br/>
      WhatsApp only : 0881024240202
     </p>
    <hr/>
    <h4>Download Android App</h4>
    <div class="text-center">
     <a href="https://as-saadah.github.io/games/app/android/demo-games.apk" type="button" class="btn btn-outline-dark">Unduh Aplikasi</a>
    </div>
  </div>
</div>
<!--/menu-->
