<div class="container">
<div class="carousel"> 
 <a class="carousel-item" href="./olympus-gates"><img src="./assets/slider1.webp"></a> 
 <a class="carousel-item" href="./starlight-princess"><img src="./assets/slider2.webp"></a> 
 <a class="carousel-item" href="./sweet-bonanza!"><img src="./assets/slider3.webp"></a> 
 <a class="carousel-item" href="./bonanza-xmas"><img src="./assets/slider4.webp"></a> 
 <a class="carousel-item" href="./wild-west-gold"><img src="./assets/slider5.webp"></a> 
</div>    
</div>
