      <ul class="tabs tabs-transparent">

      {% if page.active == "pragmatic-play" %}
        <li class="tab active">
         <a class="active waves-effect waves-light" href="#!">
         Pragmatic Play
         </a>
        </li>
      {% else %}
        <li class="tab">
         <a target="_self" class="waves-effect waves-light" href="https://as-saadah.github.io/games/pragmatic-play/">
         Pragmatic Play
         </a>
        </li>
      {% endif %}

      {% if page.active == "slotmania" %}
        <li class="tab active">
         <a class="active waves-effect waves-light" href="#!">
         Slot Mania
         </a>
        </li>
      {% else %}
        <li class="tab">
         <a target="_self" class="waves-effect waves-light" href="https://as-saadah.github.io/games/slotmania/">
         Slot Mania
         </a>
        </li>
      {% endif %}

      {% if page.active == "megaways" %}
        <li class="tab active">
         <a class="active waves-effect waves-light" href="#!">
          Megaways
         </a>
        </li>
      {% else %}
        <li class="tab">
         <a target="_self" class="waves-effect waves-light" href="https://as-saadah.github.io/games/megaways/">
          Megaways
         </a>
        </li>
      {% endif %}

      {% if page.active == "wsg" %}
        <li class="tab active">
         <a class="active waves-effect waves-light" href="#!">
          Wild Streak Gaming
         </a>
        </li>
      {% else %}
        <li class="tab">
         <a target="_self" class="waves-effect waves-light" href="https://as-saadah.github.io/games/wild-streak-gaming/">
          Wild Streak Gaming
         </a>
      {% endif %}

      {% if page.active == "reel-kingdom" %}
        <li class="tab active">
         <a class="active waves-effect waves-light" href="#!">
          Reel Kingdom
         </a>
        </li>
      {% else %}
       <li class="tab">
         <a target="_self" class="waves-effect waves-light" href="https://as-saadah.github.io/games/reel-kingdom/">
          Reel Kingdom
         </a>
        </li>
      {% endif %}

      </ul>
