  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">

  <div class="row align-items-start"> <!--grid 1--> 
    <div class="col">
     <a href="./{{site.data.games.slotmania-olympus.url}}">
      <img src="./assets/images/{{site.data.games.slotmania-olympus.img}}" class="img-thumbnail border-0">
     </a>
     <p>{{site.data.games.slotmania-olympus.title}}</p>
    </div>
    <div class="col">
    <a href="./{{site.data.games.slotmania-princess.url}}">
      <img src="./assets/images/{{site.data.games.slotmania-princess.img}}" class="img-thumbnail border-0">
     </a>
     <p>{{site.data.games.slotmania-princess.title}}</p>
    </div>
  </div> <!--/grid 1--> 

  <div class="row align-items-start"> <!--grid 2--> 
    <div class="col">
     <a href="./{{site.data.games.slotmania-wwg.url}}">
     <img src="./assets/images/{{site.data.games.slotmania-wwg.img}}" class="img-thumbnail border-0">
     </a>
     <p>{{site.data.games.slotmania-wwg.title}}</p>
    </div>
    <div class="col">
     <a href="./{{site.data.games.slotmania-sweet.url}}">
     <img src="./assets/images/{{site.data.games.slotmania-sweet.img}}" class="img-thumbnail border-0">
     </a>
     <p>{{site.data.games.slotmania-sweet.title}}</p>
    </div>
  </div> <!--/grid 2--> 

  <div class="row align-items-start"> <!--grid 3--> 
    <div class="col">
     <a href="./{{site.data.games.slotmania-bonanza-gold.url}}">
     <img src="./assets/images/{{site.data.games.slotmania-bonanza-gold.img}}" class="img-thumbnail border-0">
     </a>
     <p>{{site.data.games.slotmania-bonanza-gold.title}}</p>
    </div>
    <div class="col">
     <a href="{{site.data.games.slotmania-sugar.url}}">
     <img src="./assets/images/{{site.data.games.slotmania-sugar.img}}" class="img-thumbnail border-0">
     </a>
     <p>{{site.data.games.slotmania-sugar.title}}</p>
    </div>
  </div> <!--/grid 3--> 

  <div class="row align-items-start"> <!--grid 4--> 
    <div class="col">
     <a href="./{{site.data.games.aztec-gates.url}}">
     <img src="./assets/images/{{site.data.games.aztec-gates.img}}" class="img-thumbnail border-0">
     </a>
     <p>{{site.data.games.aztec-gates.title}}</p>
    </div>
    <div class="col">
     
    </div>
  </div> <!--/grid 4--> 

  </div>
