{% include nav-tabs.html %}

<div class="tab-content" id="pills-tabContent"> <!--Tabs--> 

<!--Tab Pragmatic Play Games--> 
<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
  <div class="row row-cols-2">
{% for slot in site.data.slot %}
    <div class="col">
    <a href="./{{ slot.url }}">
     <img src="./assets/images/{{ slot.img }}" alt="{{ slot.title }}" class="img-fluid border-0">
    </a>
     <p>{{ slot.title }}</p>
    </div>
{% endfor %}
  </div>
</div>
<!--/Tab Pragmatic Play Games--> 

<!--Tab Slot Mania Games--> 
 {% include tab-slotmania.html %}
<!--/Tab Slot Mania Games--> 

</div> <!--/Tabs--> 
