{% include nav-tabs.html %}

<div class="tab-content" id="pills-tabContent"> <!--Tabs--> 

<!--Tab Pragmatic Play Games--> 
<div class="tab-pane fade show active" id="pills-pragmaticplay" role="tabpanel" aria-labelledby="pills-pragmaticplay-tab" tabindex="0">

<div class="row row-cols-2">
 {% for game in site.data.games %}
  <div class="col">
   {% for game in game %}
    <a href="./{{ game.url }}">
     <img src="./assets/loader.gif" data-src="./assets/images/{{ game.img }}" alt="{{ game.title }}" class="img-fluid border-0 lazy">
     <p>{{ game.title }}</p>
    </a>
   {% endfor %}
  </div>
 {% else %}
  <p>Tidak ada data.</p>
 {% endfor %}
 </div>

</div>
<!--/Tab Pragmatic Play Games--> 

<!--Tab PG Soft Games--> 
<div class="tab-pane fade" id="pills-pgsoft" role="tabpanel" aria-labelledby="pills-pgsoft-tab" tabindex="0">

<div class="row row-cols-2">
 {% for game in site.data.pg_soft %}
  <div class="col">
    <a href="./{{ game.url }}">
     <img src="./assets/loader.gif" data-src="./assets/images/{{ game.img }}" alt="{{ game.title }}" class="img-fluid border-0 lazy">
     <p>{{ game.title }}</p>
    </a>
  </div>
 {% else %}
  <p>Tidak ada data.</p>
 {% endfor %}
 </div>

</div>
<!--/Tab PG Soft Games--> 

</div> <!--/Tabs--> 
