{% include nav-tabs.html %}

<div class="tab-content" id="pills-tabContent"> <!--Tabs--> 

<!--Tab Pragmatic Play Games--> 
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">

 <div class="row align-items-start"> <!--grid 1--> 
    <div class="col">
    <a href="./{{site.data.games.olympus-gates.url}}">
     <img src="./assets/img/{{site.data.games.olympus-gates.img}}" alt="{{site.data.games.olympus-gates.title}}" class="img-thumbnail border-0">
    </a>
     <p>{{site.data.games.olympus-gates.title}}</p>
    </div>
    <div class="col">
    <a href="./{{site.data.games.starlight-princess.url}}">
     <img src="./assets/img/{{site.data.games.starlight-princess.img}}" alt="{{site.data.games.starlight-princess.title}}" class="img-thumbnail border-0">
    </a>
     <p>{{site.data.games.starlight-princess.title}}</p>
    </div>
  </div> <!--/grid 1--> 

  <div class="row align-items-start"> <!--grid 2--> 
    <div class="col">
    <a href="./{{site.data.games.starlight-christmas.url}}">
     <img src="./assets/img/{{site.data.games.starlight-christmas.img}}" class="img-thumbnail border-0">
    </a>
     <p>{{site.data.games.starlight-christmas.title}}</p>
    </div>
    <div class="col">
    <a href="./{{site.data.games.gatot-kaca.url}}">
     <img src="./assets/img/{{site.data.games.gatot-kaca.img}}" alt="{{site.data.games.gatot-kaca.title}}" class="img-thumbnail border-0">
    </a>
     <p>{{site.data.games.gatot-kaca.title}}</p>
    </div>
  </div> <!--/grid 2--> 

  <div class="row align-items-start"> <!--grid 3--> 
    <div class="col">
     <a href="./{{site.data.games.sweet-bonanza.url}}">
     <img src="./assets/img/{{site.data.games.sweet-bonanza.img}}" class="img-thumbnail border-0">
     </a>
     <p>{{site.data.games.sweet-bonanza.title}}</p>
    </div>
    <div class="col">
     <a href="./{{site.data.games.bonanza-xmas.url}}">
     <img src="./assets/img/{{site.data.games.bonanza-xmas.img}}" class="img-thumbnail border-0">
     </a>
     <p>{{site.data.games.bonanza-xmas.title}}</p>
    </div>
  </div> <!--/grid 3--> 

  <div class="row align-items-start"> <!--grid 4--> 
    <div class="col">
     <a href="./{{site.data.games.wwg.url}}">
     <img src="./assets/img/{{site.data.games.wwg.img}}" class="img-thumbnail border-0">
     </a>
     <p>{{site.data.games.wwg.title}}</p>
    </div>
    <div class="col">
     <a href="./{{site.data.games.diamond-strike.url}}">
     <img src="./assets/img/{{site.data.games.diamond-strike.img}}" class="img-thumbnail border-0">
     </a>
     <p>{{site.data.games.diamond-strike.title}}</p>
    </div>
  </div> <!--/grid 4--> 
  
  <div class="row align-items-start"> <!--grid 5--> 
    <div class="col">
     <a href="games/aztec-gems/deluxe/">
     <img src="./assets/img/Aztec-Gems-Deluxe.png" class="img-thumbnail border-0">
     </a>
     <p>Aztec Gems Deluxe</p>
    </div>
    <div class="col">
     <a href="games/aztec-gems/">
     <img src="./assets/img/aztecgems.png" class="img-thumbnail border-0">
     </a>
     <p>Aztec Gems</p>
    </div>
  </div> <!--/grid 5--> 

  <div class="row align-items-start"> <!--grid 6--> 
    <div class="col">
     <a href="games/drill-that-gold/">
     <img src="./assets/img/Drill_That_Gold.png" class="img-thumbnail border-0">
     </a>
     <p>Drill That Gold</p>
    </div>
    <div class="col">
     <a href="games/bonanza/bonanza-gold/">
     <img src="./assets/img/bonanza-gold.png" class="img-thumbnail border-0">
     </a>
     <p>Bonanza Gold</p>
    </div>
  </div> <!--/grid 6--> 
  
  <div class="row align-items-start"> <!--grid 7--> 
    <div class="col">
     <a href="games/bonanza/pyramid/">
     <img src="./assets/img/pyramidbonanza.jpeg" class="img-thumbnail border-0">
     </a>
     <p>Pyramid Bonanza</p>
    </div>
    <div class="col">
      <a href="games/bonanza/gems-bonanza/">
     <img src="./assets/img/Slot-Demo-Gems-Bonanza.png" class="img-thumbnail border-0">
     </a>
     <p>Gems Bonanza</p>
    </div>
  </div> <!--/grid 7--> 

  <div class="row align-items-start"> <!--grid 8--> 
    <div class="col">
     <a href="games/tweety-house/">
     <img src="./assets/img/tweetyhouse.png" class="img-thumbnail border-0">
     </a>
     <p>The Tweety House</p>
    </div>
    <div class="col">
      <a href="games/midas/">
     <img src="./assets/img/Slot-Demo-The-Hand-Of-Midas-640x360.png" class="img-thumbnail border-0">
     </a>
     <p>The Hand of Midas</p>
    </div>
  </div> <!--/grid 8--> 

  <div class="row align-items-start"> <!--grid 9--> 
    <div class="col">
     <a href="games/wild-streak-gaming/lucky-lightning/">
     <img src="./assets/img/lucky.png" class="img-thumbnail border-0">
     </a>
     <p>Lucky Lightning</p>
    </div>
    <div class="col">
     <a href="games/pirate-golden-age/">
     <img src="./assets/img/pirate-golden-age.jpeg" class="img-thumbnail border-0">
     </a>
     <p>Pirate Golden Age</p>
    </div>
  </div> <!--/grid 9--> 

  <div class="row align-items-start"> <!--grid 10--> 
    <div class="col">
     <a href="games/clover-gold/">
     <img src="./assets/img/clovergold.jpeg" class="img-thumbnail border-0">
     </a>
     <p>Clover Gold</p>
    </div>
    <div class="col">
     <a href="games/sugar-rush/">
     <img src="./assets/img/sugarrush.jpeg" class="img-thumbnail border-0">
     </a>
     <p>Sugar Rush</p>
    </div>
  </div> <!--/grid 10--> 

  <div class="row align-items-start"> <!--grid 11--> 
    <div class="col">
     <a href="games/reel-kingdom/spirit-of-adventure/">
     <img src="./assets/img/spirit-of-adventure.png" class="img-thumbnail border-0">
     </a>
     <p>Spirit of Adventure</p>
    </div>
    <div class="col">
     <a href="games/wild-streak-gaming/amazing-money-machine/">
     <img src="./assets/img/amazing-money-machine.png" class="img-thumbnail border-0">
     </a>
     <p>The Amazing Money Machine</p>
    </div>
  </div> <!--/grid 11--> 

  <div class="row align-items-start"> <!--grid 12--> 
    <div class="col">
     <a href="games/wwg/megaways/">
     <img src="./assets/img/megaways-wwg.jpeg" class="img-thumbnail border-0">
     </a>
     <p>Wild West Gold Megaways</p>
    </div>
    <div class="col">
     <a href="games/aztec-king-megaways/">
     <img src="./assets/img/aztec-king-megaways.jpeg" class="img-thumbnail border-0">
     </a>
     <p>Aztec King Megaways</p>
    </div>
  </div> <!--/grid 12--> 

  <div class="row align-items-start"> <!--grid 13--> 
    <div class="col">
     <a href="games/sword-of-ares/">
     <img src="./assets/img/sword-of-ares.jpeg" class="img-thumbnail border-0">
     </a>
     <p>Sword of Ares</p>
    </div>
    <div class="col">
     <a href="games/shield-of-sparta/">
     <img src="./assets/img/shield-of-sparta.jpeg" class="img-thumbnail border-0">
     </a>
     <p>Shield of Sparta</p>
    </div>
  </div> <!--/grid 13--> 

  <div class="row align-items-start"> <!--grid 14--> 
    <div class="col">
     <a href="games/power-of-thor/">
     <img src="./assets/img/megaways-thor.jpeg" class="img-thumbnail border-0">
     </a>
     <p>Power of Thor Megaways</p>
    </div>
    <div class="col">
     <a href="games/kingdom-of-astard/">
     <img src="./assets/img/kingdomofastard.jpeg" class="img-thumbnail border-0">
     </a>
     <p>Kingdom of Astard</p>
    </div>
  </div> <!--/grid 14--> 

  <div class="row align-items-start"> <!--grid 15--> 
    <div class="col">
     <a href="games/rise-samurai/">
     <img src="./assets/img/risesamurai3.jpeg" class="img-thumbnail border-0">
     </a>
     <p>Rise Samurai 3</p>
    </div>
    <div class="col">
     <a href="games/aztec-blaze/">
     <img src="./assets/img/aztec-blaze.jpeg" class="img-thumbnail border-0">
     </a>
     <p>Aztec Blaze</p>
    </div>
  </div> <!--/grid 15--> 

  <div class="row align-items-start"> <!--grid 15--> 
    <div class="col">
     <a href="games/fruit-party/">
     <img src="./assets/img/fruitparty.png" class="img-thumbnail border-0">
     </a>
     <p>Fruit Party</p>
    </div>
    <div class="col">
     <a href="games/jokers-jewels/">
     <img src="./assets/img/jokers-jewel.png" class="img-thumbnail border-0">
     </a>
     <p>Joker's jewels</p>
    </div>
  </div> <!--/grid 15--> 

  <div class="row align-items-start"> <!--grid 16--> 
    <div class="col">
     <a href="games/candy-village/">
     <img src="./assets/img/candy-village.webp" class="img-thumbnail border-0">
     </a>
     <p>Candy Village</p>
    </div>
    <div class="col">
     <a href="games/north-guardians/">
     <img src="./assets/img/north-guardians.jpeg" class="img-thumbnail border-0">
     </a>
     <p>North Guardians</p>
    </div>
  </div> <!--/grid 16--> 

  <div class="row align-items-start"> <!--grid 17--> 
    <div class="col">
     <a href="games/greek-gods/">
     <img src="./assets/img/greek-gods.jpeg" class="img-thumbnail border-0">
     </a>
     <p>Greek Gods</p>
    </div>
    <div class="col">
     
    </div>
  </div> <!--/grid 17--> 

  </div>
<!--/Tab Pragmatic Play Games--> 

<!--Tab Slot Mania Games--> 
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">

  <div class="row align-items-start"> <!--grid 1--> 
    <div class="col">
     <a href="games/olympus/slotmania/">
      <img src="./assets/img/slotmania-olympus.png" class="img-thumbnail border-0">
     </a>
     <p>Slot Mania Olympus</p>
    </div>
    <div class="col">
    <a href="games/starlight-princess/slotmania/">
      <img src="./assets/img/slotmania-princess.png" class="img-thumbnail border-0">
     </a>
     <p>Slot Mania Princess</p>
    </div>
  </div> <!--/grid 1--> 

  <div class="row align-items-start"> <!--grid 2--> 
    <div class="col">
     <a href="games/wwg/slotmania/">
     <img src="./assets/img/slotmania-wwg.png" class="img-thumbnail border-0">
     </a>
     <p>Wild West Slot Mania</p>
    </div>
    <div class="col">
     <a href="games/bonanza/slotmania/">
     <img src="./assets/img/slotmania-sweet.png" class="img-thumbnail border-0">
     </a>
     <p>Sweet Slot Mania</p>
    </div>
  </div> <!--/grid 2--> 

  <div class="row align-items-start"> <!--grid 3--> 
    <div class="col">
     <a href="games/bonanza/slotmania/gold/">
     <img src="./assets/img/slotmania-bonanzagold.png" class="img-thumbnail border-0">
     </a>
     <p>Slot Mania Bonanza Gold</p>
    </div>
    <div class="col">
     <a href="games/sugar-rush/slotmania/">
     <img src="./assets/img/slotmania-sugar.png" class="img-thumbnail border-0">
     </a>
     <p>Sugar Slot Mania</p>
    </div>
  </div> <!--/grid 3--> 
  
  </div>
<!--/Tab Slot Mania Games--> 

<!--Tab Megaways Games--> 
  <div class="tab-pane fade" id="pills-megaways" role="tabpanel" aria-labelledby="pills-megaways-tab" tabindex="0">

  <div class="row align-items-start"> <!--grid 1--> 
    <div class="col">
     <a href="games/wwg/megaways/">
     <img src="./assets/img/megaways-wwg.jpeg" class="img-thumbnail border-0">
     </a>
     <p>Wild West Gold Megaways</p>
    </div>
    <div class="col">
     <a href="games/aztec-king-megaways/">
     <img src="./assets/img/aztec-king-megaways.jpeg" class="img-thumbnail border-0">
     </a>
     <p>Aztec King Megaways</p>
    </div>
  </div> <!--/grid 1--> 

  <div class="row align-items-start"> <!--grid 2--> 
    <div class="col">
     <a href="games/power-of-thor/">
     <img src="./assets/img/megaways-thor.jpeg" class="img-thumbnail border-0">
     </a>
     <p>Power of Thor Megaways</p>
    </div>
    <div class="col">
     
    </div>
  </div> <!--/grid 2--> 

  </div>
<!--/Tab Megaways Games--> 

<!--Tab Reel Kingdom Games--> 
  <div class="tab-pane fade" id="pills-reel" role="tabpanel" aria-labelledby="pills-reel-tab" tabindex="0">

  <div class="row align-items-start"> <!--grid 1--> 
    <div class="col">
     <a href="games/reel-kingdom/spirit-of-adventure/">
     <img src="./assets/img/spirit-of-adventure.png" class="img-thumbnail border-0">
     </a>
     <p>Spirit of Adventure</p>
    </div>
    <div class="col">
     
    </div>
  </div> <!--/grid 1--> 

  </div>
<!--/Tab Reel Kingdom Games--> 

<!--Tab Wild Streak Gaming--> 
  <div class="tab-pane fade" id="pills-wild" role="tabpanel" aria-labelledby="pills-wild-tab" tabindex="0">

  <div class="row align-items-start"> <!--grid 1--> 
    <div class="col">
     <a href="games/wild-streak-gaming/amazing-money-machine/">
     <img src="./assets/img/amazing-money-machine.png" class="img-thumbnail border-0">
     </a>
     <p>Amazing Money Machine</p>
    </div>
    <div class="col">
     <a href="games/wild-streak-gaming/lucky-lightning/">
     <img src="./assets/img/lucky.png" class="img-thumbnail border-0">
     </a>
     <p>Lucky Lightning</p>
    </div>
  </div> <!--/grid 1--> 
  
  </div>
<!--/Tab Wild Streak Gaming--> 

</div> <!--/Tabs--> 
