    <div class="nav-wrapper black">
      <a href="https://as-saadah.github.io/games/about/" class="icon-left show-on-med-and-down left waves-effect waves-light">
       <i class="material-icons">info</i>
      </a>
      <a href="https://as-saadah.github.io/games/app/android/demo-games.apk" class="icon-left show-on-med-and-down left waves-effect waves-light">
       <i class="material-icons">cloud_download</i>
      </a>
      <a href="#!" class="brand-logo center">
       {{ site.title }}
      </a>
      <a href="{{ absolute_url }}" class="icon-right show-on-med-and-down right waves-effect waves-light">
       <i class="material-icons">cached</i>
      </a>
    </div>
