---
---

.card-panel[data-theme="light"]{
  --link-color: rgb(0, 112, 201);
  --main-background-color: hsl(0, 0%, 90%);
  --main-text-color: hsl(0, 0%, 20%);
}
.card-panel [data-theme="dark"] {
  --link-color: rgb( 100, 210, 255);
  --main-background-color: hsl(0, 0%, 20%);
  --main-text-color: hsl(0, 0%, 85%); 
}
@media (prefers-color-scheme: dark) {
    .card-panel[data-theme="dark"] {
      --link-color: rgb( 100, 210, 255);
    	--main-background-color: hsl(0, 0%, 20%);
    	--main-text-color: hsl(0, 0%, 85%); 
    }
    .card-panel[data-theme="light"] {
		  --link-color: rgb(0, 112, 201);
    	--main-background-color: hsl(0, 0%, 90%);
  	 --main-text-color: hsl(0, 0%, 20%);
    } 
}
a {
  color: var(--link-color);
}
