.navbar-brand, .brand-logo, .card-title { 
 font-size: 100% !important; 
 }   
.nav-wrapper {
 height: 30px !important;
}
a {
 color: black;
}
.card-image {
 padding: 5px;
}
.slot-title {
 display: block;
 padding: 1px;
}
.card-title {
 color: white;
 font-size: 12px !important;
}
a.icon-left {
 padding-left: 15px;
}
a.icon-right {
 padding-right: 15px;
}
.custom-container {
 margin-top: 120px !important;
}
.fixed-nav{
 position: fixed;
 top:0;
 z-index: 999;
}
