.navbar-brand, .brand-logo, .card-title { 
 font-size: 100% !important; 
 }   
.nav-wrapper {
 height: 30px !important;
}
a {
 color: black;
}
.card-image-custom {
 height: 108px !important;
}
.slot-title {
 display: block;
 padding: 1px;
}
.card-title {
 color: white;
 font-size: 10px !important;
}
a.icon-left {
 padding-left: 15px;
}
a.icon-right {
 padding-right: 15px;
}
.custom-container {
 margin-top: 80px !important;
}
