.navbar-brand, .brand-logo, .card-title { 
 font-size: 100% !important; 
 }   
.nav-wrapper {
 height: 30px !important;
}
a {
 color: black;
}
.card-image {
 padding: 1px;
 height: 100px! important;
}
.slot-title {
 display: block;
 padding: 1px;
}
.card-title {
 color: white;
 font-size: 10px !important;
}
a.icon-left {
 padding-left: 15px;
}
a.icon-right {
 padding-right: 15px;
}
.custom-container {
 margin-top: 120px !important;
}
.fixed-nav{
 position: fixed;
 top:0;
 z-index: 999;
}
.tabs1 {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 48px;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  white-space: nowrap;
}
.tabs1.tabs-transparent1 {
  background-color: transparent;
}

.tabs1.tabs-transparent1 .tab a,
.tabs1.tabs-transparent1 .tab2.disabled a,
.tabs1.tabs-transparent1 .tab2.disabled a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.tabs1.tabs-transparent1 .tab2 a:hover,
.tabs1.tabs-transparent1 .tab2 a.active {
  color: #fff;
}

.tabs1.tabs-transparent1 .indicator {
  background-color: #fff;
}

.tabs1 .tab2 {
  display: inline-block;
  text-align: center;
  line-height: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.tabs1 .tab2 a {
  color: rgba(238, 110, 115, 0.7);
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: color .28s ease, background-color .28s ease;
  transition: color .28s ease, background-color .28s ease;
}

.tabs1 .tab2 a:focus, .tabs1 .tab2 a:focus.active {
  background-color: rgba(246, 178, 181, 0.2);
  outline: none;
}

.tabs1 .tab2 a:hover, .tabs1 .tab2 a.active {
  background-color: transparent;    
  color: #ee6e73;
}
.tabs1 .tab2.disabled a,
.tabs1 .tab2.disabled a:hover {
  color: rgba(238, 110, 115, 0.4);
  cursor: default;
}
@media only screen and (max-width: 992px) {
  .tabs1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .tabs1 .tab2 {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .tabs1 .tab2 a {
    padding: 0 12px;
  }
}
