<!doctype html>
<html lang="id">
 <head>
  {% include head.html %}
<style>
body {
    margin: 0;            /* Reset default margin */
}
iframe {
    display: block;       /* iframes are inline by default */
    background: #000;
    border: none;         /* Reset default border */
    height: 100vh;        /* Viewport-relative units */
    width: 100vw;
}
</style>
 </head>
<body class="grey darken-6">
<div class="navbar-fixed">
  <nav class="nav-extended fixed-nav">
    <div class="nav-wrapper black">
        <a href="{{ "games" | relative_url }}" class="icon-left show-on-med-and-down left waves-effect waves-light">
       <i class="material-icons">arrow_back</i>
      </a>
      <a href="#" class="brand-logo center">
       <span class="truncate">{{ page.title }}</span>
      </a>
    </div>
  </nav>
</div>
 {{ content }}
 {% include scripts.html %}
 </body>
</html>
