<!doctype html>
<html lang="id">
 <head>
  {% include head.html %}
 </head>
<body class="grey darken-6">
 {% include navbar-page-slotmania.html %}
<div class="container" style="margin-top: 8px; width: 98% !important;">
 {{ content }}
</div>
 {% include scripts.html %}
<script type='text/javascript'> 
//<![CDATA[ 
var vid, fullscreenbtn; 
function intializePlayer(){ 
 vid = document.getElementById("frameFullscreen"); 
 fullscreenbtn = document.getElementById("fullscreenbtn"); 
 fullscreenbtn.addEventListener("click",toggleFullScreen,false); 
} 
window.onload = intializePlayer; 
function toggleFullScreen(){ 
 if(vid.requestFullScreen){ 
 vid.requestFullScreen(); 
  screen.orientation.lock("landscape-primary"); 
 } else if(vid.mozRequestFullScreen){ 
 vid.mozRequestFullScreen(); 
  screen.orientation.lock("landscape-primary"); 
 } else if(vid.webkitRequestFullscreen){ 
 vid.webkitRequestFullscreen(); 
  screen.orientation.lock("landscape-primary"); 
 } else if(vid.msRequestFullscreen){ 
 vid.msRequestFullscreen(); 
  screen.orientation.lock("landscape-primary"); 
 } 
} 
</script>
 </body>
</html>
