<!doctype html>
<html lang="id">
 <head>
  {% include head.html %}
<style>
body,html{
  min-height:100%;
 }
.video {
    display: block;
    width: 100vh;
    height: 600px;
    border: none;
    transform: translateY(100vh) rotate(-90deg);
    transform-origin: top left;
}
    #content {
     position:absolute;
     bottom: 0;
     top: 0;
     margin-left: auto; 
     margin-right: auto; 
     width: 600px;
     Height: 400px;
   }
</style>
 </head>

<body class="grey darken-6">

 {{ content }}

 {% include scripts.html %}
 </body>
</html>
