<!doctype html>
<html lang="id">
 <head>
  {% include head.html %}
 </head>
<body>
 {% include sidenav.html %}
 {% include navbar.html %}

<div class="container text-center" style="margin-top: 130px;"> <!--container--> 
<div class="row row-cols-2">
 {% for game in site.data.pragmatic_play %}
  <div class="col">
    <a href="./{{ game.url }}">
     <img src="./assets/loader.gif" data-src="./assets/images/pp/{{ game.img }}" alt="{{ game.title }}" class="img-fluid border-0 lazy">
     <p>{{ game.title }}</p>
    </a>
  </div>
 {% else %}
  <p>Tidak ada data.</p>
 {% endfor %}
</div>
</div> <!--/container--> 

 {% include scripts.html %}

 </body>
</html>
