<!doctype html>
<html lang="id">
 <head>
  {% include head.html %}
 </head>
<body>
<!--nav--> 
<div class="navbar-fixed">
  <nav class="nav-extended fixed-nav">
    <div class="nav-wrapper black">
     {% if page.active == "pragmatic-play" %}
      <a href="{{ "pragmatic-play" | relative_url }}" class="sidenav-trigger left">
        <i class="material-icons">arrow_back</i>
       </a>     
     {% endif %}
     {% if page.active == "pgsoft" %}
      <a href="{{ "pgsoft" | relative_url }}" class="sidenav-trigger left">
        <i class="material-icons">arrow_back</i>
       </a>     
     {% endif %}
     {% if page.active == "nolimit-city" %}
      <a href="{{ "nolimit-city" | relative_url }}" class="sidenav-trigger left">
        <i class="material-icons">arrow_back</i>
       </a>     
     {% endif %}
     {% if page.active == "habanero" %}
      <a href="{{ "habanero" | relative_url }}" class="sidenav-trigger left">
        <i class="material-icons">arrow_back</i>
       </a>     
     {% endif %}
     {% if page.active == "redtiger" %}
      <a href="{{ "redtiger" | relative_url }}" class="sidenav-trigger left">
        <i class="material-icons">arrow_back</i>
       </a>     
     {% endif %}
     
     <a href="{{ relative_url }}" class="brand-logo center">
       <span class="truncate truncate-custom">{{ page.title }}</span>
     </a>
     
     {% if page.active == "pgsoft" %}
     <a data-target="modalpg" class="sidenav-trigger modal-trigger right">
       <i class="material-icons">error_outline</i>
     </a>
     {% endif %}
    </div>
  </nav>
</div>
<!--/nav--> 
<div class="container" style="width: 98% !important;">
 {{ content }}
</div>
 {% include modal.html %}
 {% include scripts.html %}
 </body>
</html>
