<!doctype html>
<html lang="id">
 <head>
  {% include head.html %}
 </head>
<body class="grey darken-6">
<!--nav--> 
<div class="navbar-fixed">
  <nav class="nav-extended fixed-nav">
    <div class="nav-wrapper black">
      <a href="{{ site.url }}" class="sidenav-trigger left">
       <i class="material-icons">arrow_back</i>
      </a>
      <a href="#" class="brand-logo center">
       <span class="truncate">{{ page.title }}</span>
      </a>
    </div>
  </nav>
</div>
<!--/nav--> 
<div class="container white" style="width: 98% !important;">
   <div class="nav-content grey lighten-5 padding-10">
   <meta itemprop="url" content="https://as-assadah.github.io/games/search/"/>
   <form action="/search" itemprop="potentialAction" itemscope itemtype="https://schema.org/SearchAction">
   <meta itemprop="target" content="https://as-saadah.github.io/games/search?q=olympus"/>
   <input itemprop="query-input" class="search_input" id="tipue_search_input" type="text" name="q" placeholder="Search" pattern=".{3,}" title="At least 3 characters" required/>
  </form>
    </div>
 {{ content }}
</div>
 {% include scripts.html %}
 </body>
</html>
