<!doctype html>
<html lang="id">
 <head>
  {% include head.html %}
 </head>
<body class="grey darken-6">
<!--nav--> 
<div class="navbar-fixed">
  <nav class="nav-extended fixed-nav">
    <div class="nav-wrapper black">
      <a href="{{ "advant-play" | relative_url }}" class="sidenav-trigger left">
       <i class="material-icons">arrow_back</i>
      </a>
      <a href="#" class="brand-logo center">
       <span class="truncate">{{ page.title }}</span>
      </a>
    </div>
  </nav>
</div>
<!--/nav--> 
<div class="container" style="width: 98% !important; margin-top:0px;">
 {{ content }}
</div>
{% include modal.html %}
{% include scripts.html %}
 </body>
</html>
