<!doctype html>
<html lang="id">
 <head>
  {% include head.html %}
<style>
body,html{
  min-height:100%;
 }
.container {
 overflow: hidden !important;
}
.video {
    display: block;
    width: 80vh;
    height: 100vw;
    border: none;
    transform: translateY(100vh) rotate(-90deg);
    transform-origin: top left;
}
    #content, .container {
     position:absolute !important;
     bottom: 0;
     top: -90px;
     left: 0; 
     right: 0; 
}
</style>
 </head>
<body class="grey darken-6">
<div class="navbar-fixed">
  <nav class="nav-extended fixed-nav">
    <div class="nav-wrapper black">
        <a href="{{ "playngo" | relative_url }}" class="icon-left show-on-med-and-down left waves-effect waves-light">
       <i class="material-icons">arrow_back</i>
      </a>
      <a href="#" class="brand-logo center">
       <span class="truncate">{{ page.title }}</span>
      </a>
    </div>
  </nav>
</div>
<div class="container">
 <div id="content">
  {{ content }}
 </div>
</div>
 {% include scripts.html %}
 </body>
</html>
