<!doctype html>
<html lang="id">
 <head>
  {% include head.html %}
<style>
body, html {
     margin: 0;
     padding: 0;
     height: 100%;
     overflow: hidden;
   }

   #content {
     position:absolute;
     left: 0;
     right: 0;
     bottom: 0;
     top: 0
   }

body {
    display: block;
    width: 100vh;
    height: 100vw;
    border: none;
    transform: translateY(100vh) rotate(-90deg);
    transform-origin: top left;
}
</style>
 </head>
<body class="grey darken-6">
<!--nav--> 
<div class="navbar-fixed">
  <nav class="nav-extended fixed-nav">
    <div class="nav-wrapper black">
      <a href="{{ "cq9" | relative_url }}" class="sidenav-trigger left">
       <i class="material-icons">arrow_back</i>
      </a>
      <a href="#" class="brand-logo center">
       <span class="truncate">{{ page.title }}</span>
      </a>
    </div>
  </nav>
</div>
<!--/nav--> 
<div id="content" class="container" style="width: 98% !important;">
 {{ content }}
</div>
 {% include scripts.html %}
 </body>
</html>
