<!doctype html>
<html lang="id">
 <head>
  {% include head.html %}
<style>
body, html {
     margin: 0;
     padding: 0;
     height: 100%;
     overflow: hidden;
   }

   #content {
     position:absolute;
     left: 0px;
     right: 0px;
     bottom: 0px;
     top: 0px;
   }
body {
    display: block;
    width: 100vh;
    height: 100vw;
    border: none;
    transform: translateY(100vh) rotate(-90deg);
    transform-origin: top left;
}
</style>
 </head>
<body class="grey darken-6">

<div class="container" style="margin-top: 8px; width: 98% !important;">

 <div class="card-panel transparent z-depth-0" style="padding: 0px !important;">
   <div id="content" class="card-content video-container">
    {{ content }}
   </div>
 </div>

</div>

<div class="fixed-action-btn">
  <a href="{{ "playngo" | relative_url }}" class="btn-floating btn-large red">
    <i class="large material-icons">home</i>
  </a>
</div>

 {% include scripts.html %}
<script type='text/javascript'> 
//<![CDATA[ 
var vid, fullscreenbtn; 
function intializePlayer(){ 
 vid = document.getElementById("frameFullscreen"); 
 fullscreenbtn = document.getElementById("fullscreenbtn"); 
 fullscreenbtn.addEventListener("click",toggleFullScreen,false); 
} 
window.onload = intializePlayer; 
function toggleFullScreen(){ 
 if(vid.requestFullScreen){ 
 vid.requestFullScreen(); 
  screen.orientation.lock("landscape-primary"); 
 } else if(vid.mozRequestFullScreen){ 
 vid.mozRequestFullScreen(); 
  screen.orientation.lock("landscape-primary"); 
 } else if(vid.webkitRequestFullscreen){ 
 vid.webkitRequestFullscreen(); 
  screen.orientation.lock("landscape-primary"); 
 } else if(vid.msRequestFullscreen){ 
 vid.msRequestFullscreen(); 
  screen.orientation.lock("landscape-primary"); 
 } 
} 
</script>
 </body>
</html>
